# train model

In [1]:
#import ML frameworks
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression

from sklearn.linear_model import RidgeClassifier
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.model_selection import TimeSeriesSplit

rr = RidgeClassifier(alpha=1)

lreg = LogisticRegression(solver='liblinear')
svm = SVC()
knn = KNeighborsClassifier()
decTree = DecisionTreeClassifier()
rForest = RandomForestClassifier()
gaussNB = GaussianNB()
logReg = LogisticRegression()

split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rr, 
                                n_features_to_select=30, 
                                direction="forward",
                                cv=split,
                                n_jobs=1
                               )

In [2]:
# Import required libraries
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

# Import necessary modules
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score

In [3]:
#adds "TARGET" column to data
def addTarget(group):
    group["TARGET"] = group["WIN"]
    return group

In [5]:
#import data

import pandas as pd
filePath = "C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/LearningData/learningData8.csv"
df = pd.read_csv(filePath, index_col=0)
#add target column
df = addTarget(df)
#handles null values in target column
df["TARGET"][pd.isnull(df["TARGET"])] = 2
df["TARGET"] = df["TARGET"].astype(int, errors="ignore")
#select needed columns
removed_columns = ["YEAR", "WIN", "TEAM", "TEAM_OPP", "GAME_ID", "TARGET", "PTS", "PTS_OPP"]
selected_columns = df.columns[~df.columns.isin(removed_columns)]

C:\Users\danna\AppData\Local\Temp\ipykernel_30212\2799823127.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["TARGET"][pd.isnull(df["TARGET"])] = 2

In [6]:
#preprocess with Min Max Scaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np

scaler = MinMaxScaler()
df[selected_columns] = scaler.fit_transform(df[selected_columns])

In [7]:
#handle unneeded columns
df[selected_columns][pd.isnull(df[selected_columns])] = 2
df[selected_columns] = df[selected_columns].astype(int, errors="ignore")

#fit the data 
sfs.fit(df[selected_columns], df["TARGET"])

#get predictor columns
predictors = list(selected_columns[sfs.get_support()])
# predictors

C:\Users\danna\AppData\Local\Temp\ipykernel_30212\3383206916.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[selected_columns][pd.isnull(df[selected_columns])] = 2
C:\Users\danna\AppData\Local\Temp\ipykernel_30212\3383206916.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[selected_columns][pd.isnull(df[selected_columns])] = 2

In [8]:
X = df[predictors].values
y = df["TARGET"].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(666, 30)
(286, 30)

In [9]:
from sklearn.neural_network import MLPClassifier

mlp = MLPClassifier(hidden_layer_sizes=(8,8,8), activation='relu', solver='adam', max_iter=500)
mlp.fit(X_train,y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

In [9]:
# from sklearn.metrics import accuracy_score
# acc = accuracy_score(predictions["ACTUAL"], predictions["PREDICTION"])
# print(acc)

In [10]:
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_train,predict_train))
print(classification_report(y_train,predict_train))

[[290  42]
 [179 155]]
              precision    recall  f1-score   support

           0       0.62      0.87      0.72       332
           1       0.79      0.46      0.58       334

    accuracy                           0.67       666
   macro avg       0.70      0.67      0.65       666
weighted avg       0.70      0.67      0.65       666

In [11]:
print(confusion_matrix(y_test,predict_test))
print(classification_report(y_test,predict_test))

[[124  20]
 [ 81  61]]
              precision    recall  f1-score   support

           0       0.60      0.86      0.71       144
           1       0.75      0.43      0.55       142

    accuracy                           0.65       286
   macro avg       0.68      0.65      0.63       286
weighted avg       0.68      0.65      0.63       286

In [12]:
predict_train

array([1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 0])

# test model

In [13]:
#import testing data

import pandas as pd

num = "8"

filePath = "C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/testData"+num+".csv"
ansPath = "C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/testData"+num+"ANS.csv"

dfTest = pd.read_csv(filePath, index_col=0)
dfTestAns = pd.read_csv(ansPath, index_col=0)

# dfTest = addTarget(df)
# df["TARGET"][pd.isnull(df["TARGET"])] = 2
# df["TARGET"] = df["TARGET"].astype(int, errors="ignore")

removed_columns = ["YEAR", "WIN", "TEAM", "TEAM_OPP", "GAME_ID", "TARGET", "PTS", "PTS_OPP"]
selected_columns = df.columns[~df.columns.isin(removed_columns)]

#preprocess with Min Max Scaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np
scaler = MinMaxScaler()
dfTest[selected_columns] = scaler.fit_transform(dfTest[selected_columns])

sfs.fit(dfTest[selected_columns], dfTestAns['WIN'])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RidgeClassifier(alpha=1),
                          n_features_to_select=30, n_jobs=1)

In [14]:
#get predictor columns
predictors = list(selected_columns[sfs.get_support()])
# predictors

In [15]:
XTest = dfTest[predictors].values
yAns = dfTestAns["WIN"].values

predictionTest = mlp.predict(XTest)

# print(len(predictionTest), len(dfTest.index), len(yAns))

d = {"PRED": predictionTest, "ANS": yAns.astype(int)}

dfRes = pd.DataFrame(data=d)
display(dfRes)

     PRED  ANS
0       1    0
1       1    1
2       1    0
3       1    1
4       1    0
..    ...  ...
371     1    1
372     1    1
373     1    0
374     1    0
375     0    1

[376 rows x 2 columns]

In [16]:
#cross validate
from sklearn.model_selection import cross_val_predict, cross_val_score
cvPred = cross_val_predict(mlp, XTest, yAns, cv=3)
cvScore = cross_val_score(mlp, df[predictors], df["TARGET"], cv=3)

# display(cvPred, cvScore)
cvScore

C:\Users\danna\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\danna\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
C:\Users\danna\anaconda3\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

array([0.64779874, 0.60252366, 0.58044164])

In [17]:
resCount = 0
totalCount = 0
for i in range( len(dfRes.index) ):
    if(dfRes['PRED'][i] == dfRes['ANS'][i]):
        resCount += 1
    totalCount += 1
resCount / totalCount

# print(dfRes['PRED'][4])
# display(dfRes)

0.4574468085106383

In [18]:
print(confusion_matrix(predictionTest, yAns))
print(classification_report(predictionTest, yAns))

[[  9  25]
 [179 163]]
              precision    recall  f1-score   support

           0       0.05      0.26      0.08        34
           1       0.87      0.48      0.62       342

    accuracy                           0.46       376
   macro avg       0.46      0.37      0.35       376
weighted avg       0.79      0.46      0.57       376

In [19]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
import numpy as np

#adds "TARGET" column to data
def addTarget(group):
    group["TARGET"] = group["WIN"]
    return group    
    
#formats data for ML
def getDataReady(df, dfAns=False):
    if(not dfAns):
        df = addTarget(df)
        #handles null values in target column
        df["TARGET"][pd.isnull(df["TARGET"])] = 2
        df["TARGET"] = df["TARGET"].astype(int, errors="ignore")
        #select needed columns
        removed_columns = ["YEAR", "WIN", "TEAM", "TEAM_OPP", "GAME_ID", "TARGET", "PTS", "PTS_OPP"]
        selected_columns = df.columns[~df.columns.isin(removed_columns)]
        
        #preprocess with Min Max Scaler
        scaler = MinMaxScaler()
        df[selected_columns] = scaler.fit_transform(df[selected_columns])
        
        #handle unneeded columns
        df[selected_columns][pd.isnull(df[selected_columns])] = 2
        df[selected_columns] = df[selected_columns].astype(int, errors="ignore")

        #fit the data 
        sfs.fit(df[selected_columns], df["TARGET"])

        #get predictor columns
        predictors = list(selected_columns[sfs.get_support()])
        
        X = df[predictors].values
        y = df["TARGET"].values
        return(X, y)        
        
    else:
        removed_columns = ["YEAR", "WIN", "TEAM", "TEAM_OPP", "GAME_ID", "TARGET", "PTS", "PTS_OPP"]
        selected_columns = df.columns[~df.columns.isin(removed_columns)]

        #preprocess with Min Max Scaler
        scaler = MinMaxScaler()
        df[selected_columns] = scaler.fit_transform(dfTest[selected_columns])

        sfs.fit(df[selected_columns], dfAns['WIN'])
        
        #get predictor columns
        predictors = list(selected_columns[sfs.get_support()])
        # predictors
        XTest = df[predictors].values
        yAns = dfAns["WIN"].values
        return(XTest, yAns)

In [20]:
# display(dfTest.iloc[0])
row = 0
game = dfTest.iloc[row]
gameRes = dfTestAns.iloc[row]
X, y = getDataReady(game, gameRes)

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

# 2022 prediction

In [21]:
filePath = "C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/testData"+num+".csv"
ansPath = "C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/testData"+num+"ANS.csv"
seedPath = "C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022seedData.csv"

year = 2022

t22d = pd.read_csv(filePath, index_col=0)
t22A = pd.read_csv(ansPath, index_col=0)
seedInfo = pd.read_csv(seedPath, index_col=0)

t22d["ANSWER"] = t22A["WIN"]

t22d = t22d.loc[t22d['YEAR'] == year]

removed_columns = ["YEAR", "WIN", "TEAM", "TEAM_OPP", "GAME_ID", "TARGET", "PTS", "PTS_OPP"]
selected_columns = t22d.columns[~t22d.columns.isin(removed_columns)]

#preprocess with Min Max Scaler
from sklearn.preprocessing import MinMaxScaler
import numpy as np
scaler = MinMaxScaler()
t22d[selected_columns] = scaler.fit_transform(t22d[selected_columns])

sfs.fit(t22d[selected_columns], t22d["ANSWER"])

#get predictor columns
predictors = list(selected_columns[sfs.get_support()])
# predictors

XTest = t22d[predictors].values
yAns = t22d["ANSWER"].values

predictionTest = mlp.predict(XTest)

# print(len(predictionTest), len(dfTest.index), len(yAns))

d = {"TEAM1": t22d["TEAM"], "TEAM2": t22d["TEAM_OPP"], "PRED": predictionTest, "ANS": yAns.astype(int)}

dfRes = pd.DataFrame(data=d)
dfRes.reset_index()
display(dfRes)
display(seedInfo)

              TEAM1           TEAM2  PRED  ANS
252         Albany      Louisville      1    0
253     Louisville          Albany      1    1
254       American        Michigan      1    0
255       Michigan        American      1    1
256       Arkansas            Utah      1    0
..              ...             ...   ...  ...
371          Texas            Utah      1    1
372      Villanova   Brigham Young      1    1
373  Brigham Young       Villanova      1    0
374      Villanova        Michigan      1    0
375       Michigan       Villanova      1    1

[124 rows x 4 columns]

    SEED              TEAM
0      1          NC State
1     16          Longwood
2      8  Washington State
3      9      Kansas State
4      5        Notre Dame
..   ...               ...
63    15            Hawaii
64     1    South Carolina
65     1        Louisville
66     1          Stanford
67     2             UConn

[68 rows x 2 columns]

In [22]:
dfRes.to_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022Data.csv")

In [23]:
for i in range( len(dfRes.index) ):
    for j in range(0, len(seedInfo.index), 2 ):
                print(dfRes["TEAM1"][i], seedInfo["TEAM"][j], ",", dfRes["TEAM2"][i], seedInfo["TEAM"][j+1])





# for dataIndex in dfRes.index:
#     for seedIndex in seedInfo.index:
#         if(seedIndex > )
#         print(dfRes["TEAM1"][dataIndex], seedInfo["TEAM"][seedIndex], ",", dfRes["TEAM2"][dataIndex], seedInfo["TEAM"][seedIndex+1])
#         if():
# #             print("help")
# #             dfRes["TEAM1SEED"][dataIndex] = seedInfo["TEAM"][seedIndex]
# #             dfRes["TEAM2SEED"][dataIndex] = seedInfo["TEAM"][seedIndex+1]

KeyError: 0

In [24]:
t22d = t22d[t22d.index % 2 != 0]  # Excludes every 3rd row starting from 0
t22d.to_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022DataFull.csv")

In [25]:
winners = ['South Carolina',
'Miami',
'North Carolina',
'Arizona',
'Georgia',
'Iowa State',
'Colorado',
'Iowa',
'Louisville',
'Nebraska',
'Oregon',
'Tennessee',
'Brigham Young',
'Michigan',
'Mississippi',
'Baylor',
'Stanford',
'Kansas',
'Virginia Tech',
'Maryland',
'Ohio State',
'Louisiana State',
'Utah',
'Fairfield',
'NC State',
'Washington State',
'Notre Dame',
'Oklahoma',
'Kentucky',
'Indiana',
'Central Florida',
'Conneticut']

# first round

In [26]:
firstRoundGames = pd.read_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022firstRound.csv")

firstRoundGames

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,GAME_ID,ANSWER
0,South Carolina,0.666667,0.655172,1.00,0.677419,0.782609,0.647059,0.384615,0.44,0.052632,...,0.2,0.055556,0.065239,0.004630,0.000000,0.000000,0.000000,1.000000,152,1
1,Miami,0.428571,0.310345,0.12,0.322581,0.391304,0.352941,0.230769,0.36,0.315789,...,0.6,0.416667,0.066456,0.120370,0.296875,0.448980,0.500000,1.000000,180,1
2,North Carolina,0.809524,0.724138,0.32,0.419355,0.608696,0.235294,0.230769,0.48,0.578947,...,1.0,0.555556,0.091586,0.166667,0.375000,1.000000,0.500000,1.000000,181,1
3,Arizona,0.809524,0.896552,0.04,0.225806,0.347826,0.588235,0.230769,0.16,0.842105,...,0.8,0.277778,0.071730,0.074074,0.625000,0.614286,0.600000,1.000000,168,1
4,Georgia,0.952381,0.965517,0.56,0.548387,0.652174,0.352941,0.461538,0.48,0.105263,...,0.6,0.416667,0.000000,0.166667,0.375000,0.265306,1.000000,0.333333,141,1
5,Iowa State,0.666667,0.827586,0.40,0.483871,0.173913,0.058824,0.461538,0.16,0.473684,...,0.8,0.361111,0.105485,0.166667,0.583333,0.485714,1.000000,1.000000,184,1
6,Colorado,0.428571,0.379310,0.40,0.258065,0.608696,0.411765,0.307692,0.20,0.789474,...,0.6,0.277778,0.156118,0.120370,1.000000,1.000000,1.000000,1.000000,137,0
7,Iowa,0.904762,0.655172,0.00,0.612903,1.000000,0.529412,0.307692,0.32,0.684211,...,0.6,0.527778,0.088608,0.259259,0.345238,1.000000,0.333333,1.000000,153,1
8,Louisville,0.476190,0.482759,0.40,0.290323,0.478261,1.000000,0.307692,0.28,0.210526,...,0.2,0.222222,0.240506,0.166667,0.375000,0.571429,0.333333,1.000000,126,1
9,Nebraska,0.428571,0.517241,0.40,0.225806,0.347826,0.294118,0.230769,0.28,0.473684,...,0.4,0.388889,0.088608,0.074074,0.750000,0.742857,1.000000,1.000000,150,0
10,Oregon,0.428571,0.413793,0.56,0.709677,0.565217,0.352941,0.923077,0.56,0.684211,...,0.6,0.444444,0.132007,0.629630,0.659091,0.448980,1.000000,0.851852,129,0
11,Tennessee,0.952381,0.931034,0.84,0.516129,0.565217,0.411765,0.000000,0.64,0.421053,...,0.6,0.527778,0.037975,0.305556,0.375000,1.000000,0.384615,1.000000,131,1
12,Brigham Young,0.380952,0.344828,0.24,0.548387,0.521739,0.294118,0.076923,0.52,0.526316,...,0.6,0.527778,0.139241,0.259259,0.318182,0.437500,0.333333,0.555556,186,0
13,Michigan,0.190476,0.310345,0.40,0.516129,0.826087,0.588235,0.153846,0.32,0.210526,...,0.8,0.111111,0.088608,0.050926,0.750000,0.742857,0.142857,1.000000,127,1
14,Mississippi,0.380952,0.379310,0.28,0.225806,0.608696,0.176471,0.384615,0.32,0.736842,...,0.4,0.388889,0.168174,0.305556,1.000000,1.000000,1.000000,1.000000,179,0
15,Baylor,0.333333,0.344828,0.32,0.451613,0.565217,0.176471,0.230769,0.64,0.894737,...,0.8,0.277778,0.240506,0.166667,0.500000,1.000000,0.666667,1.000000,177,0
16,Stanford,0.476190,0.517241,0.56,0.741935,0.782609,0.647059,0.615385,0.48,0.263158,...,0.2,0.000000,0.037975,0.166667,0.062500,0.000000,0.250000,1.000000,167,1
17,Kansas,0.523810,0.517241,0.32,0.516129,0.478261,0.235294,0.461538,0.24,0.526316,...,0.6,0.333333,0.043601,0.166667,0.659091,0.816327,0.500000,0.333333,148,1
18,Virginia Tech,0.666667,0.620690,0.24,0.516129,0.478261,0.000000,0.076923,0.28,0.421053,...,0.8,0.444444,0.240506,0.814815,0.583333,1.000000,0.600000,1.000000,146,0
19,Maryland,0.714286,0.517241,0.36,0.483871,0.739130,0.352941,0.230769,0.28,0.263158,...,0.6,0.694444,0.050633,0.212963,1.000000,1.000000,0.400000,1.000000,142,1
20,Ohio State,0.904762,0.965517,0.36,0.161290,0.391304,0.705882,0.538462,0.28,0.684211,...,0.6,0.250000,0.084713,0.074074,0.375000,0.357143,0.000000,1.000000,166,1
21,Louisiana State,0.952381,1.000000,0.32,0.516129,0.695652,0.529412,0.692308,0.32,0.789474,...,0.8,0.416667,0.148446,0.351852,0.583333,0.571429,0.666667,0.666667,155,1
22,Utah,0.571429,0.620690,0.40,0.838710,0.782609,0.058824,0.076923,0.56,0.578947,...,0.6,0.500000,0.054852,0.120370,0.333333,0.532468,0.333333,0.666667,128,1
23,Texas,0.714286,0.827586,0.52,0.322581,0.608696,0.588235,0.153846,0.40,0.842105,...,0.8,0.305556,0.367089,0.032922,0.375000,0.357143,1.000000,1.000000,143,1
24,NC State,0.714286,0.689655,0.68,0.451613,0.565217,0.470588,0.384615,0.36,0.736842,...,0.4,0.527778,0.037975,0.120370,0.250000,0.428571,0.384615,1.000000,159,1
25,Washington State,0.380952,0.413793,0.28,0.612903,0.130435,0.058824,0.153846,0.56,0.947368,...,0.6,0.388889,0.217491,0.074074,0.318182,0.298701,0.500000,0.833333,158,0
26,Notre Dame,0.619048,0.586207,0.44,0.354839,0.695652,0.294118,0.230769,0.40,0.368421,...,0.4,0.694444,0.059675,0.212963,1.000000,1.000000,0.750000,1.000000,162,1
27,Oklahoma,0.714286,0.758621,0.28,0.645161,0.608696,0.352941,0.307692,0.28,0.526316,...,0.8,0.333333,0.143135,0.537037,0.250000,1.000000,0.333333,1.000000,154,1
28,Kentucky,0.809524,0.758621,0.28,0.258065,0.347826,0.411765,0.076923,0.48,0.789474,...,0.6,0.638889,0.139241,0.074074,0.687500,0.678571,1.000000,1.000000,176,0
29,Indiana,0.476190,0.448276,0.16,0.612903,0.913043,0.411765,0.076923,0.12,0.315789,...,0.4,0.361111,0.077758,0.166667,0.375000,0.464286,1.000000,1.000000,133,1
30,Central Florida,0.476190,0.517241,0.24,0.387097,0.739130,0.352941,0.692308,0.08,0.684211,...,0.8,0.305556,0.156118,0.259259,0.423077,0.532468,1.000000,1.000000,144,1
31,Connecticut,0.476190,0.586207,0.68,0.645161,0.739130,0.764706,0.153846,0.48,0.526316,...,0.4,0.166667,0.493671,0.000000,0.375000,1.000000,0.333333,1.000000,163,1
32,Brigham Young,0.380952,0.344828,0.24,0.548387,0.521739,0.294118,0.076923,0.52,0.526316,...,0.6,0.527778,0.139241,0.259259,0.318182,0.437500,0.333333,0.555556,186,0

In [27]:
teamHeaders = ['TEAM', 'FT', 'FTA', 'ORB', 'DRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'FT/FGA', 'AST/TOV', 'YEAR', 'FG%', '2P%', '3P%', 'FT%', 'FT_MAX',
       'FTA_MAX', 'ORB_MAX', 'DRB_MAX', 'AST_MAX', 'STL_MAX', 'BLK_MAX',
       'TOV_MAX', 'PF_MAX', 'PTS_MAX', 'FT/FGA_MAX', 'AST/TOV_MAX', 'FG%_MAX',
       '2P%_MAX', '3P%_MAX', 'FT%_MAX']

teamHeadersOPP = ['TEAM_OPP', 'FT_OPP', 'FTA_OPP',
       'ORB_OPP', 'DRB_OPP', 'AST_OPP', 'STL_OPP', 'BLK_OPP', 'TOV_OPP',
       'PF_OPP', 'FT/FGA_OPP', 'AST/TOV_OPP', 'FG%_OPP', '2P%_OPP', '3P%_OPP',
       'FT%_OPP', 'FT_MAX_OPP', 'FTA_MAX_OPP', 'ORB_MAX_OPP', 'DRB_MAX_OPP',
       'AST_MAX_OPP', 'STL_MAX_OPP', 'BLK_MAX_OPP', 'TOV_MAX_OPP',
       'PF_MAX_OPP', 'PTS_MAX_OPP', 'FT/FGA_MAX_OPP', 'AST/TOV_MAX_OPP',
       'FG%_MAX_OPP', '2P%_MAX_OPP', '3P%_MAX_OPP', 'FT%_MAX_OPP']

changeNames = {'TEAM_OPP': 'TEAM', 'FT_OPP': 'FT', 'FTA_OPP': 'FTA',
       'ORB_OPP': 'ORB', 'DRB_OPP': 'DRB', 'AST_OPP': 'AST', 'STL_OPP': 'STL', 'BLK_OPP': 'BLK', 'TOV_OPP': 'TOV',
       'PF_OPP': 'PF', 'FT/FGA_OPP': 'FT/FGA', 'AST/TOV_OPP': 'AST/TOV', 'FG%_OPP': 'FG%', '2P%_OPP': '2P%', '3P%_OPP': '3P%',
       'FT%_OPP': 'FT%', 'FT_MAX_OPP': 'FT_MAX', 'FTA_MAX_OPP': 'FTA_MAX', 'ORB_MAX_OPP': 'ORB_MAX', 'DRB_MAX_OPP': 'DRB_MAX',
       'AST_MAX_OPP': 'AST_MAX', 'STL_MAX_OPP': 'STL_MAX', 'BLK_MAX_OPP': 'BLK_MAX', 'TOV_MAX_OPP': 'TOV_MAX',
       'PF_MAX_OPP': 'PF_MAX', 'PTS_MAX_OPP': 'PTS_MAX', 'FT/FGA_MAX_OPP': 'FT/FGA_MAX', 'AST/TOV_MAX_OPP': 'AST/TOV_MAX',
       'FG%_MAX_OPP': 'FG%_MAX', '2P%_MAX_OPP': '2P%_MAX', '3P%_MAX_OPP': '3P%_MAX', 'FT%_MAX_OPP': 'FT%_MAX'}

changeNamesOPP = {'TEAM': 'TEAM_OPP', 'FT': 'FT_OPP', 'FTA': 'FTA_OPP',
       'ORB': 'ORB_OPP', 'DRB': 'DRB_OPP', 'AST': 'AST_OPP', 'STL': 'STL_OPP', 'BLK': 'BLK_OPP', 'TOV': 'TOV_OPP',
       'PF': 'PF_OPP', 'FT/FGA': 'FT/FGA_OPP', 'AST/TOV': 'AST/TOV_OPP', 'FG%': 'FG%_OPP', '2P%': '2P%_OPP', '3P%': '3P%_OPP',
       'FT%': 'FT%_OPP', 'FT_MAX': 'FT_MAX_OPP', 'FTA_MAX': 'FTA_MAX_OPP', 'ORB_MAX': 'ORB_MAX_OPP', 'DRB_MAX': 'DRB_MAX_OPP',
       'AST_MAX': 'AST_MAX_OPP', 'STL_MAX': 'STL_MAX_OPP', 'BLK_MAX': 'BLK_MAX_OPP', 'TOV_MAX': 'TOV_MAX_OPP',
       'PF_MAX': 'PF_MAX_OPP', 'PTS_MAX': 'PTS_MAX_OPP', 'FT/FGA_MAX': 'FT/FGA_MAX_OPP', 'AST/TOV_MAX': 'AST/TOV_MAX_OPP',
       'FG%_MAX': 'FG%_MAX_OPP', '2P%_MAX': '2P%_MAX_OPP', '3P%_MAX': '3P%_MAX_OPP', 'FT%_MAX': 'FT%_MAX_OPP', "GAME_ID": "GAME_ID_OPP", "ANSWER": "ANSWER_OPP"}

firstRoundGames.columns

Index(['TEAM', 'FT', 'FTA', 'ORB', 'DRB', 'AST', 'STL', 'BLK', 'TOV', 'PF',
       'FT/FGA', 'AST/TOV', 'YEAR', 'FG%', '2P%', '3P%', 'FT%', 'FT_MAX',
       'FTA_MAX', 'ORB_MAX', 'DRB_MAX', 'AST_MAX', 'STL_MAX', 'BLK_MAX',
       'TOV_MAX', 'PF_MAX', 'PTS_MAX', 'FT/FGA_MAX', 'AST/TOV_MAX', 'FG%_MAX',
       '2P%_MAX', '3P%_MAX', 'FT%_MAX', 'TEAM_OPP', 'FT_OPP', 'FTA_OPP',
       'ORB_OPP', 'DRB_OPP', 'AST_OPP', 'STL_OPP', 'BLK_OPP', 'TOV_OPP',
       'PF_OPP', 'FT/FGA_OPP', 'AST/TOV_OPP', 'FG%_OPP', '2P%_OPP', '3P%_OPP',
       'FT%_OPP', 'FT_MAX_OPP', 'FTA_MAX_OPP', 'ORB_MAX_OPP', 'DRB_MAX_OPP',
       'AST_MAX_OPP', 'STL_MAX_OPP', 'BLK_MAX_OPP', 'TOV_MAX_OPP',
       'PF_MAX_OPP', 'PTS_MAX_OPP', 'FT/FGA_MAX_OPP', 'AST/TOV_MAX_OPP',
       'FG%_MAX_OPP', '2P%_MAX_OPP', '3P%_MAX_OPP', 'FT%_MAX_OPP', 'GAME_ID',
       'ANSWER'],
      dtype='object')

In [28]:
removed_columns = ["YEAR", "WIN", "TEAM", "TEAM_OPP", "GAME_ID", "TARGET", "PTS", "PTS_OPP"]
selected_columns = firstRoundGames.columns[~firstRoundGames.columns.isin(removed_columns)]

#preprocess with Min Max Scaler
scaler = MinMaxScaler()
firstRoundGames[selected_columns] = scaler.fit_transform(firstRoundGames[selected_columns])

sfs.fit(firstRoundGames[selected_columns], firstRoundGames['ANSWER'])

#get predictor columns
predictors = list(selected_columns[sfs.get_support()])
# predictors
XTest = firstRoundGames[predictors].values
yAns = firstRoundGames['ANSWER'].values

predictionTest = mlp.predict(XTest)

# print(len(predictionTest), len(dfTest.index), len(yAns))

d = {"PRED": predictionTest, "ANS": yAns.astype(int)}

dfRes = pd.DataFrame(data=d)
display(dfRes)

    PRED  ANS
0      1    1
1      1    1
2      1    1
3      1    1
4      1    1
5      1    1
6      1    0
7      1    1
8      1    1
9      0    0
10     1    0
11     1    1
12     0    0
13     1    1
14     0    0
15     0    0
16     1    1
17     1    1
18     1    0
19     1    1
20     1    1
21     1    1
22     1    1
23     0    1
24     1    1
25     0    0
26     1    1
27     1    1
28     0    0
29     1    1
30     1    1
31     0    1
32     0    0

# second round

In [51]:
winningTeams = []

firstRoundWinners = pd.DataFrame(columns=teamHeaders)



count = 0
for row in firstRoundGames:
    if(count>=len(predictionTest)):
        break
    if(predictionTest[count] == 1):
        tempdf = pd.DataFrame(data=firstRoundGames[teamHeaders])
        firstRoundWinners = pd.concat([firstRoundGames, tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][count]]])
    else:    
        tempdf = pd.DataFrame(data=firstRoundGames[teamHeadersOPP])
        tempdf.rename(columns=changeNames, inplace=True)
        firstRoundWinners = pd.concat([firstRoundGames, tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][count]]])
    count += 1

    
firstRoundWinners.dropna(axis=0, inplace=True)
firstRoundWinners.drop(firstRoundWinners.tail(1).index,inplace=True) # drop last n rows
# firstRoundWinners
        
# # display(firstRoundGames[teamHeaders])
# tempdf = firstRoundGames[teamHeaders]
# display(tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][2]])

teams1 = firstRoundWinners[firstRoundWinners.index % 2 == 0]  # Excludes every 2nd row starting from 0
teams2 = firstRoundWinners[firstRoundWinners.index % 2 != 0]  # includes every 2nd row starting from 0

teams1.reset_index(inplace=True)
teams2.reset_index(inplace=True)

teams2.rename(columns=changeNamesOPP, inplace=True)

display(firstRoundWinners)
display(teams1)
display(teams2)

sndRndGames = pd.concat([teams1[teamHeaders], teams2[teamHeadersOPP]], axis=1)
# sndRndGames.reset_index(inplace=True)

# sndRndGames.dropna(inplace=True)

display(sndRndGames)

C:\Users\danna\AppData\Local\Temp\ipykernel_30212\4191161142.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams2.rename(columns=changeNamesOPP, inplace=True)

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,GAME_ID,ANSWER
0,South Carolina,0.6250,0.50,1.00,0.761905,0.75,0.647059,0.416667,0.642857,0.000000,...,0.00,0.08,0.132150,0.005682,0.000000,0.000000,0.000000,1.000000,152.0,1.0
1,Miami,0.3125,0.00,0.12,0.238095,0.30,0.352941,0.250000,0.500000,0.294118,...,0.50,0.60,0.134615,0.147727,0.296875,0.448980,0.500000,1.000000,180.0,1.0
2,North Carolina,0.8125,0.60,0.32,0.380952,0.55,0.235294,0.250000,0.714286,0.588235,...,1.00,0.80,0.185520,0.204545,0.375000,1.000000,0.500000,1.000000,181.0,1.0
3,Arizona,0.8125,0.85,0.04,0.095238,0.25,0.588235,0.250000,0.142857,0.882353,...,0.75,0.40,0.145299,0.090909,0.625000,0.614286,0.600000,1.000000,168.0,1.0
4,Georgia,1.0000,0.95,0.56,0.571429,0.60,0.352941,0.500000,0.714286,0.058824,...,0.50,0.60,0.000000,0.204545,0.375000,0.265306,1.000000,0.000000,141.0,1.0
5,Iowa State,0.6250,0.75,0.40,0.476190,0.05,0.058824,0.500000,0.142857,0.470588,...,0.75,0.52,0.213675,0.204545,0.583333,0.485714,1.000000,1.000000,184.0,1.0
6,Colorado,0.3125,0.10,0.40,0.142857,0.55,0.411765,0.333333,0.214286,0.823529,...,0.50,0.40,0.316239,0.147727,1.000000,1.000000,1.000000,1.000000,137.0,0.0
7,Iowa,0.9375,0.50,0.00,0.666667,1.00,0.529412,0.333333,0.428571,0.705882,...,0.50,0.76,0.179487,0.318182,0.345238,1.000000,0.333333,1.000000,153.0,1.0
8,Louisville,0.3750,0.25,0.40,0.190476,0.40,1.000000,0.333333,0.357143,0.176471,...,0.00,0.32,0.487179,0.204545,0.375000,0.571429,0.333333,1.000000,126.0,1.0
9,Nebraska,0.3125,0.30,0.40,0.095238,0.25,0.294118,0.250000,0.357143,0.470588,...,0.25,0.56,0.179487,0.090909,0.750000,0.742857,1.000000,1.000000,150.0,0.0
10,Oregon,0.3125,0.15,0.56,0.809524,0.50,0.352941,1.000000,0.857143,0.705882,...,0.50,0.64,0.267399,0.772727,0.659091,0.448980,1.000000,0.777778,129.0,0.0
11,Tennessee,1.0000,0.90,0.84,0.523810,0.50,0.411765,0.000000,1.000000,0.411765,...,0.50,0.76,0.076923,0.375000,0.375000,1.000000,0.384615,1.000000,131.0,1.0
12,Brigham Young,0.2500,0.05,0.24,0.571429,0.45,0.294118,0.083333,0.785714,0.529412,...,0.50,0.76,0.282051,0.318182,0.318182,0.437500,0.333333,0.333333,186.0,0.0
13,Michigan,0.0000,0.00,0.40,0.523810,0.80,0.588235,0.166667,0.428571,0.176471,...,0.75,0.16,0.179487,0.062500,0.750000,0.742857,0.142857,1.000000,127.0,1.0
14,Mississippi,0.2500,0.10,0.28,0.095238,0.55,0.176471,0.416667,0.428571,0.764706,...,0.25,0.56,0.340659,0.375000,1.000000,1.000000,1.000000,1.000000,179.0,0.0
15,Baylor,0.1875,0.05,0.32,0.428571,0.50,0.176471,0.250000,1.000000,0.941176,...,0.75,0.40,0.487179,0.204545,0.500000,1.000000,0.666667,1.000000,177.0,0.0
16,Stanford,0.3750,0.30,0.56,0.857143,0.75,0.647059,0.666667,0.714286,0.235294,...,0.00,0.00,0.076923,0.204545,0.062500,0.000000,0.250000,1.000000,167.0,1.0
17,Kansas,0.4375,0.30,0.32,0.523810,0.40,0.235294,0.500000,0.285714,0.529412,...,0.50,0.48,0.088319,0.204545,0.659091,0.816327,0.500000,0.000000,148.0,1.0
18,Virginia Tech,0.6250,0.45,0.24,0.523810,0.40,0.000000,0.083333,0.357143,0.411765,...,0.75,0.64,0.487179,1.000000,0.583333,1.000000,0.600000,1.000000,146.0,0.0
19,Maryland,0.6875,0.30,0.36,0.476190,0.70,0.352941,0.250000,0.357143,0.235294,...,0.50,1.00,0.102564,0.261364,1.000000,1.000000,0.400000,1.000000,142.0,1.0
20,Ohio State,0.9375,0.95,0.36,0.000000,0.30,0.705882,0.583333,0.357143,0.705882,...,0.50,0.36,0.171598,0.090909,0.375000,0.357143,0.000000,1.000000,166.0,1.0
21,Louisiana State,1.0000,1.00,0.32,0.523810,0.65,0.529412,0.750000,0.428571,0.823529,...,0.75,0.60,0.300699,0.431818,0.583333,0.571429,0.666667,0.500000,155.0,1.0
22,Utah,0.5000,0.45,0.40,1.000000,0.75,0.058824,0.083333,0.857143,0.588235,...,0.50,0.72,0.111111,0.147727,0.333333,0.532468,0.333333,0.500000,128.0,1.0
23,Texas,0.6875,0.75,0.52,0.238095,0.55,0.588235,0.166667,0.571429,0.882353,...,0.75,0.44,0.743590,0.040404,0.375000,0.357143,1.000000,1.000000,143.0,1.0
24,NC State,0.6875,0.55,0.68,0.428571,0.50,0.470588,0.416667,0.500000,0.764706,...,0.25,0.76,0.076923,0.147727,0.250000,0.428571,0.384615,1.000000,159.0,1.0
25,Washington State,0.2500,0.15,0.28,0.666667,0.00,0.058824,0.166667,0.857143,1.000000,...,0.50,0.56,0.440559,0.090909,0.318182,0.298701,0.500000,0.750000,158.0,0.0
26,Notre Dame,0.5625,0.40,0.44,0.285714,0.65,0.294118,0.250000,0.571429,0.352941,...,0.25,1.00,0.120879,0.261364,1.000000,1.000000,0.750000,1.000000,162.0,1.0
27,Oklahoma,0.6875,0.65,0.28,0.714286,0.55,0.352941,0.333333,0.357143,0.529412,...,0.75,0.48,0.289941,0.659091,0.250000,1.000000,0.333333,1.000000,154.0,1.0
28,Kentucky,0.8125,0.65,0.28,0.142857,0.25,0.411765,0.083333,0.714286,0.823529,...,0.50,0.92,0.282051,0.090909,0.687500,0.678571,1.000000,1.000000,176.0,0.0
29,Indiana,0.3750,0.20,0.16,0.666667,0.90,0.411765,0.083333,0.071429,0.294118,...,0.25,0.52,0.157509,0.204545,0.375000,0.464286,1.000000,1.000000,133.0,1.0
30,Central Florida,0.3750,0.30,0.24,0.333333,0.70,0.352941,0.750000,0.000000,0.705882,...,0.75,0.44,0.316239,0.318182,0.423077,0.532468,1.000000,1.000000,144.0,1.0
31,Connecticut,0.3750,0.40,0.68,0.714286,0.70,0.764706,0.166667,0.714286,0.529412,...,0.25,0.24,1.000000,0.000000,0.375000,1.000000,0.333333,1.000000,163.0,1.0

,index,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,...,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,GAME_ID,ANSWER
0,0,South Carolina,0.6250,0.50,1.00,0.761905,0.75,0.647059,0.416667,0.642857,...,0.00,0.08,0.132150,0.005682,0.000000,0.000000,0.000000,1.000000,152.0,1.0
1,2,North Carolina,0.8125,0.60,0.32,0.380952,0.55,0.235294,0.250000,0.714286,...,1.00,0.80,0.185520,0.204545,0.375000,1.000000,0.500000,1.000000,181.0,1.0
2,4,Georgia,1.0000,0.95,0.56,0.571429,0.60,0.352941,0.500000,0.714286,...,0.50,0.60,0.000000,0.204545,0.375000,0.265306,1.000000,0.000000,141.0,1.0
3,6,Colorado,0.3125,0.10,0.40,0.142857,0.55,0.411765,0.333333,0.214286,...,0.50,0.40,0.316239,0.147727,1.000000,1.000000,1.000000,1.000000,137.0,0.0
4,8,Louisville,0.3750,0.25,0.40,0.190476,0.40,1.000000,0.333333,0.357143,...,0.00,0.32,0.487179,0.204545,0.375000,0.571429,0.333333,1.000000,126.0,1.0
5,10,Oregon,0.3125,0.15,0.56,0.809524,0.50,0.352941,1.000000,0.857143,...,0.50,0.64,0.267399,0.772727,0.659091,0.448980,1.000000,0.777778,129.0,0.0
6,12,Brigham Young,0.2500,0.05,0.24,0.571429,0.45,0.294118,0.083333,0.785714,...,0.50,0.76,0.282051,0.318182,0.318182,0.437500,0.333333,0.333333,186.0,0.0
7,14,Mississippi,0.2500,0.10,0.28,0.095238,0.55,0.176471,0.416667,0.428571,...,0.25,0.56,0.340659,0.375000,1.000000,1.000000,1.000000,1.000000,179.0,0.0
8,16,Stanford,0.3750,0.30,0.56,0.857143,0.75,0.647059,0.666667,0.714286,...,0.00,0.00,0.076923,0.204545,0.062500,0.000000,0.250000,1.000000,167.0,1.0
9,18,Virginia Tech,0.6250,0.45,0.24,0.523810,0.40,0.000000,0.083333,0.357143,...,0.75,0.64,0.487179,1.000000,0.583333,1.000000,0.600000,1.000000,146.0,0.0
10,20,Ohio State,0.9375,0.95,0.36,0.000000,0.30,0.705882,0.583333,0.357143,...,0.50,0.36,0.171598,0.090909,0.375000,0.357143,0.000000,1.000000,166.0,1.0
11,22,Utah,0.5000,0.45,0.40,1.000000,0.75,0.058824,0.083333,0.857143,...,0.50,0.72,0.111111,0.147727,0.333333,0.532468,0.333333,0.500000,128.0,1.0
12,24,NC State,0.6875,0.55,0.68,0.428571,0.50,0.470588,0.416667,0.500000,...,0.25,0.76,0.076923,0.147727,0.250000,0.428571,0.384615,1.000000,159.0,1.0
13,26,Notre Dame,0.5625,0.40,0.44,0.285714,0.65,0.294118,0.250000,0.571429,...,0.25,1.00,0.120879,0.261364,1.000000,1.000000,0.750000,1.000000,162.0,1.0
14,28,Kentucky,0.8125,0.65,0.28,0.142857,0.25,0.411765,0.083333,0.714286,...,0.50,0.92,0.282051,0.090909,0.687500,0.678571,1.000000,1.000000,176.0,0.0
15,30,Central Florida,0.3750,0.30,0.24,0.333333,0.70,0.352941,0.750000,0.000000,...,0.75,0.44,0.316239,0.318182,0.423077,0.532468,1.000000,1.000000,144.0,1.0

,index,TEAM_OPP,FT_OPP,FTA_OPP,ORB_OPP,DRB_OPP,AST_OPP,STL_OPP,BLK_OPP,TOV_OPP,...,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,GAME_ID_OPP,ANSWER_OPP
0,1,Miami,0.3125,0.00,0.12,0.238095,0.30,0.352941,0.250000,0.500000,...,0.50,0.60,0.134615,0.147727,0.296875,0.448980,0.500000,1.00,180.0,1.0
1,3,Arizona,0.8125,0.85,0.04,0.095238,0.25,0.588235,0.250000,0.142857,...,0.75,0.40,0.145299,0.090909,0.625000,0.614286,0.600000,1.00,168.0,1.0
2,5,Iowa State,0.6250,0.75,0.40,0.476190,0.05,0.058824,0.500000,0.142857,...,0.75,0.52,0.213675,0.204545,0.583333,0.485714,1.000000,1.00,184.0,1.0
3,7,Iowa,0.9375,0.50,0.00,0.666667,1.00,0.529412,0.333333,0.428571,...,0.50,0.76,0.179487,0.318182,0.345238,1.000000,0.333333,1.00,153.0,1.0
4,9,Nebraska,0.3125,0.30,0.40,0.095238,0.25,0.294118,0.250000,0.357143,...,0.25,0.56,0.179487,0.090909,0.750000,0.742857,1.000000,1.00,150.0,0.0
5,11,Tennessee,1.0000,0.90,0.84,0.523810,0.50,0.411765,0.000000,1.000000,...,0.50,0.76,0.076923,0.375000,0.375000,1.000000,0.384615,1.00,131.0,1.0
6,13,Michigan,0.0000,0.00,0.40,0.523810,0.80,0.588235,0.166667,0.428571,...,0.75,0.16,0.179487,0.062500,0.750000,0.742857,0.142857,1.00,127.0,1.0
7,15,Baylor,0.1875,0.05,0.32,0.428571,0.50,0.176471,0.250000,1.000000,...,0.75,0.40,0.487179,0.204545,0.500000,1.000000,0.666667,1.00,177.0,0.0
8,17,Kansas,0.4375,0.30,0.32,0.523810,0.40,0.235294,0.500000,0.285714,...,0.50,0.48,0.088319,0.204545,0.659091,0.816327,0.500000,0.00,148.0,1.0
9,19,Maryland,0.6875,0.30,0.36,0.476190,0.70,0.352941,0.250000,0.357143,...,0.50,1.00,0.102564,0.261364,1.000000,1.000000,0.400000,1.00,142.0,1.0
10,21,Louisiana State,1.0000,1.00,0.32,0.523810,0.65,0.529412,0.750000,0.428571,...,0.75,0.60,0.300699,0.431818,0.583333,0.571429,0.666667,0.50,155.0,1.0
11,23,Texas,0.6875,0.75,0.52,0.238095,0.55,0.588235,0.166667,0.571429,...,0.75,0.44,0.743590,0.040404,0.375000,0.357143,1.000000,1.00,143.0,1.0
12,25,Washington State,0.2500,0.15,0.28,0.666667,0.00,0.058824,0.166667,0.857143,...,0.50,0.56,0.440559,0.090909,0.318182,0.298701,0.500000,0.75,158.0,0.0
13,27,Oklahoma,0.6875,0.65,0.28,0.714286,0.55,0.352941,0.333333,0.357143,...,0.75,0.48,0.289941,0.659091,0.250000,1.000000,0.333333,1.00,154.0,1.0
14,29,Indiana,0.3750,0.20,0.16,0.666667,0.90,0.411765,0.083333,0.071429,...,0.25,0.52,0.157509,0.204545,0.375000,0.464286,1.000000,1.00,133.0,1.0
15,31,Connecticut,0.3750,0.40,0.68,0.714286,0.70,0.764706,0.166667,0.714286,...,0.25,0.24,1.000000,0.000000,0.375000,1.000000,0.333333,1.00,163.0,1.0

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,AST/TOV_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,FT%_MAX_OPP
0,South Carolina,0.6250,0.50,1.00,0.761905,0.75,0.647059,0.416667,0.642857,0.000000,...,0.333333,0.147727,0.298701,0.296875,0.466667,0.448980,0.333333,0.500000,1.000000,1.00
1,North Carolina,0.8125,0.60,0.32,0.380952,0.55,0.235294,0.250000,0.714286,0.588235,...,0.166667,0.090909,0.224880,0.625000,1.000000,0.614286,0.333333,0.600000,0.562500,1.00
2,Georgia,1.0000,0.95,0.56,0.571429,0.60,0.352941,0.500000,0.714286,0.058824,...,0.166667,0.204545,1.000000,0.583333,1.000000,0.485714,0.333333,1.000000,1.000000,1.00
3,Colorado,0.3125,0.10,0.40,0.142857,0.55,0.411765,0.333333,0.214286,0.823529,...,0.500000,0.318182,1.000000,0.345238,1.000000,1.000000,0.333333,0.333333,1.000000,1.00
4,Louisville,0.3750,0.25,0.40,0.190476,0.40,1.000000,0.333333,0.357143,0.176471,...,0.166667,0.090909,0.181818,0.750000,0.200000,0.742857,0.333333,1.000000,0.750000,1.00
5,Oregon,0.3125,0.15,0.56,0.809524,0.50,0.352941,1.000000,0.857143,0.705882,...,0.500000,0.375000,0.181818,0.375000,0.200000,1.000000,0.200000,0.384615,1.000000,1.00
6,Brigham Young,0.2500,0.05,0.24,0.571429,0.45,0.294118,0.083333,0.785714,0.529412,...,0.500000,0.062500,0.649351,0.750000,0.657143,0.742857,0.333333,0.142857,1.000000,1.00
7,Mississippi,0.2500,0.10,0.28,0.095238,0.55,0.176471,0.416667,0.428571,0.764706,...,0.041667,0.204545,0.766234,0.500000,0.771429,1.000000,0.047619,0.666667,1.000000,1.00
8,Stanford,0.3750,0.30,0.56,0.857143,0.75,0.647059,0.666667,0.714286,0.235294,...,0.333333,0.204545,0.509091,0.659091,0.520000,0.816327,1.000000,0.500000,0.650000,0.00
9,Virginia Tech,0.6250,0.45,0.24,0.523810,0.40,0.000000,0.083333,0.357143,0.411765,...,0.833333,0.261364,0.532468,1.000000,0.771429,1.000000,0.666667,0.400000,1.000000,1.00
10,Ohio State,0.9375,0.95,0.36,0.000000,0.30,0.705882,0.583333,0.357143,0.705882,...,0.666667,0.431818,0.217391,0.583333,0.272727,0.571429,0.200000,0.666667,0.326923,0.50
11,Utah,0.5000,0.45,0.40,1.000000,0.75,0.058824,0.083333,0.857143,0.588235,...,0.750000,0.040404,0.454545,0.375000,0.466667,0.357143,1.000000,1.000000,1.000000,1.00
12,NC State,0.6875,0.55,0.68,0.428571,0.50,0.470588,0.416667,0.500000,0.764706,...,0.000000,0.090909,0.000000,0.318182,0.272727,0.298701,0.000000,0.500000,0.708333,0.75
13,Notre Dame,0.5625,0.40,0.44,0.285714,0.65,0.294118,0.250000,0.571429,0.352941,...,0.333333,0.659091,0.415584,0.250000,1.000000,1.000000,0.555556,0.333333,1.000000,1.00
14,Kentucky,0.8125,0.65,0.28,0.142857,0.25,0.411765,0.083333,0.714286,0.823529,...,0.666667,0.204545,0.345455,0.375000,0.428571,0.464286,0.333333,1.000000,1.000000,1.00
15,Central Florida,0.3750,0.30,0.24,0.333333,0.70,0.352941,0.750000,0.000000,0.705882,...,0.666667,0.000000,0.590909,0.375000,0.360000,1.000000,1.000000,0.333333,1.000000,1.00

In [52]:
# for col in sndRndGames.columns:
#     print(col)

sndRndGames.to_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022secondRound.csv")

display(sndRndGames)

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,AST/TOV_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,FT%_MAX_OPP
0,South Carolina,0.6250,0.50,1.00,0.761905,0.75,0.647059,0.416667,0.642857,0.000000,...,0.333333,0.147727,0.298701,0.296875,0.466667,0.448980,0.333333,0.500000,1.000000,1.00
1,North Carolina,0.8125,0.60,0.32,0.380952,0.55,0.235294,0.250000,0.714286,0.588235,...,0.166667,0.090909,0.224880,0.625000,1.000000,0.614286,0.333333,0.600000,0.562500,1.00
2,Georgia,1.0000,0.95,0.56,0.571429,0.60,0.352941,0.500000,0.714286,0.058824,...,0.166667,0.204545,1.000000,0.583333,1.000000,0.485714,0.333333,1.000000,1.000000,1.00
3,Colorado,0.3125,0.10,0.40,0.142857,0.55,0.411765,0.333333,0.214286,0.823529,...,0.500000,0.318182,1.000000,0.345238,1.000000,1.000000,0.333333,0.333333,1.000000,1.00
4,Louisville,0.3750,0.25,0.40,0.190476,0.40,1.000000,0.333333,0.357143,0.176471,...,0.166667,0.090909,0.181818,0.750000,0.200000,0.742857,0.333333,1.000000,0.750000,1.00
5,Oregon,0.3125,0.15,0.56,0.809524,0.50,0.352941,1.000000,0.857143,0.705882,...,0.500000,0.375000,0.181818,0.375000,0.200000,1.000000,0.200000,0.384615,1.000000,1.00
6,Brigham Young,0.2500,0.05,0.24,0.571429,0.45,0.294118,0.083333,0.785714,0.529412,...,0.500000,0.062500,0.649351,0.750000,0.657143,0.742857,0.333333,0.142857,1.000000,1.00
7,Mississippi,0.2500,0.10,0.28,0.095238,0.55,0.176471,0.416667,0.428571,0.764706,...,0.041667,0.204545,0.766234,0.500000,0.771429,1.000000,0.047619,0.666667,1.000000,1.00
8,Stanford,0.3750,0.30,0.56,0.857143,0.75,0.647059,0.666667,0.714286,0.235294,...,0.333333,0.204545,0.509091,0.659091,0.520000,0.816327,1.000000,0.500000,0.650000,0.00
9,Virginia Tech,0.6250,0.45,0.24,0.523810,0.40,0.000000,0.083333,0.357143,0.411765,...,0.833333,0.261364,0.532468,1.000000,0.771429,1.000000,0.666667,0.400000,1.000000,1.00
10,Ohio State,0.9375,0.95,0.36,0.000000,0.30,0.705882,0.583333,0.357143,0.705882,...,0.666667,0.431818,0.217391,0.583333,0.272727,0.571429,0.200000,0.666667,0.326923,0.50
11,Utah,0.5000,0.45,0.40,1.000000,0.75,0.058824,0.083333,0.857143,0.588235,...,0.750000,0.040404,0.454545,0.375000,0.466667,0.357143,1.000000,1.000000,1.000000,1.00
12,NC State,0.6875,0.55,0.68,0.428571,0.50,0.470588,0.416667,0.500000,0.764706,...,0.000000,0.090909,0.000000,0.318182,0.272727,0.298701,0.000000,0.500000,0.708333,0.75
13,Notre Dame,0.5625,0.40,0.44,0.285714,0.65,0.294118,0.250000,0.571429,0.352941,...,0.333333,0.659091,0.415584,0.250000,1.000000,1.000000,0.555556,0.333333,1.000000,1.00
14,Kentucky,0.8125,0.65,0.28,0.142857,0.25,0.411765,0.083333,0.714286,0.823529,...,0.666667,0.204545,0.345455,0.375000,0.428571,0.464286,0.333333,1.000000,1.000000,1.00
15,Central Florida,0.3750,0.30,0.24,0.333333,0.70,0.352941,0.750000,0.000000,0.705882,...,0.666667,0.000000,0.590909,0.375000,0.360000,1.000000,1.000000,0.333333,1.000000,1.00

In [53]:
sndRndGames["ANSWER"] = teams1['ANSWER']
sndRndGames = sndRndGames.loc[:,~sndRndGames.columns.duplicated()]
sndRndGames

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,South Carolina,0.6250,0.50,1.00,0.761905,0.75,0.647059,0.416667,0.642857,0.000000,...,0.4,0.25,0.151515,0.129717,0.333333,0.298701,0.466667,0.333333,1.000000,1.0
1,North Carolina,0.8125,0.60,0.32,0.380952,0.55,0.235294,0.250000,0.714286,0.588235,...,0.2,1.00,0.636364,0.235849,0.166667,0.224880,1.000000,0.333333,0.562500,1.0
2,Georgia,1.0000,0.95,0.56,0.571429,0.60,0.352941,0.500000,0.714286,0.058824,...,0.4,0.75,0.818182,0.235849,0.166667,1.000000,1.000000,0.333333,1.000000,1.0
3,Colorado,0.3125,0.10,0.40,0.142857,0.55,0.411765,0.333333,0.214286,0.823529,...,0.6,0.75,0.545455,0.660377,0.500000,1.000000,1.000000,0.333333,1.000000,0.0
4,Louisville,0.3750,0.25,0.40,0.190476,0.40,1.000000,0.333333,0.357143,0.176471,...,0.2,0.75,0.333333,0.150943,0.166667,0.181818,0.200000,0.333333,0.750000,1.0
5,Oregon,0.3125,0.15,0.56,0.809524,0.50,0.352941,1.000000,0.857143,0.705882,...,0.8,0.75,0.303030,0.235849,0.500000,0.181818,0.200000,0.200000,1.000000,0.0
6,Brigham Young,0.2500,0.05,0.24,0.571429,0.45,0.294118,0.083333,0.785714,0.529412,...,0.2,0.25,0.454545,0.023585,0.500000,0.649351,0.657143,0.333333,1.000000,0.0
7,Mississippi,0.2500,0.10,0.28,0.095238,0.55,0.176471,0.416667,0.428571,0.764706,...,0.8,1.00,0.121212,0.000000,0.041667,0.766234,0.771429,0.047619,1.000000,0.0
8,Stanford,0.3750,0.30,0.56,0.857143,0.75,0.647059,0.666667,0.714286,0.235294,...,0.4,0.50,0.303030,0.072569,0.333333,0.509091,0.520000,1.000000,0.650000,1.0
9,Virginia Tech,0.6250,0.45,0.24,0.523810,0.40,0.000000,0.083333,0.357143,0.411765,...,0.4,0.50,0.454545,0.165094,0.833333,0.532468,0.771429,0.666667,1.000000,0.0
10,Ohio State,0.9375,0.95,0.36,0.000000,0.30,0.705882,0.583333,0.357143,0.705882,...,0.4,1.00,0.515152,0.150943,0.666667,0.217391,0.272727,0.200000,0.326923,1.0
11,Utah,0.5000,0.45,0.40,1.000000,0.75,0.058824,0.083333,0.857143,0.588235,...,0.2,0.50,0.030303,0.094340,0.750000,0.454545,0.466667,1.000000,1.000000,1.0
12,NC State,0.6875,0.55,0.68,0.428571,0.50,0.470588,0.416667,0.500000,0.764706,...,0.6,0.75,0.333333,0.660377,0.000000,0.000000,0.272727,0.000000,0.708333,1.0
13,Notre Dame,0.5625,0.40,0.44,0.285714,0.65,0.294118,0.250000,0.571429,0.352941,...,0.2,1.00,0.393939,0.428816,0.333333,0.415584,1.000000,0.555556,1.000000,1.0
14,Kentucky,0.8125,0.65,0.28,0.142857,0.25,0.411765,0.083333,0.714286,0.823529,...,0.2,0.50,0.303030,0.341981,0.666667,0.345455,0.428571,0.333333,1.000000,0.0
15,Central Florida,0.3750,0.30,0.24,0.333333,0.70,0.352941,0.750000,0.000000,0.705882,...,0.4,0.50,0.121212,0.094340,0.666667,0.590909,0.360000,1.000000,1.000000,1.0

In [39]:
print(len(firstRoundGames.index) == len(sndRndGames.index))
head1 = []
head2 = []
for col in firstRoundGames.columns:
    head1.append(col)
for col in sndRndGames.columns:
    head2.append(col)
length = 0
if(len(head1)>len(head2)):
    length = len(head1)
else:
    length = len(head2)
for i in range(length):
    print(head1[i], head2[i])

False
TEAM TEAM
FT FT
FTA FTA
ORB ORB
DRB DRB
AST AST
STL STL
BLK BLK
TOV TOV
PF PF
FT/FGA FT/FGA
AST/TOV AST/TOV
YEAR YEAR
FG% FG%
2P% 2P%
3P% 3P%
FT% FT%
FT_MAX FT_MAX
FTA_MAX FTA_MAX
ORB_MAX ORB_MAX
DRB_MAX DRB_MAX
AST_MAX AST_MAX
STL_MAX STL_MAX
BLK_MAX BLK_MAX
TOV_MAX TOV_MAX
PF_MAX PF_MAX
PTS_MAX PTS_MAX
FT/FGA_MAX FT/FGA_MAX
AST/TOV_MAX AST/TOV_MAX
FG%_MAX FG%_MAX
2P%_MAX 2P%_MAX
3P%_MAX 3P%_MAX
FT%_MAX FT%_MAX
TEAM_OPP TEAM_OPP
FT_OPP FT_OPP
FTA_OPP FTA_OPP
ORB_OPP ORB_OPP
DRB_OPP DRB_OPP
AST_OPP AST_OPP
STL_OPP STL_OPP
BLK_OPP BLK_OPP
TOV_OPP TOV_OPP
PF_OPP PF_OPP
FT/FGA_OPP FT/FGA_OPP
AST/TOV_OPP AST/TOV_OPP
FG%_OPP FG%_OPP
2P%_OPP 2P%_OPP
3P%_OPP 3P%_OPP
FT%_OPP FT%_OPP
FT_MAX_OPP FT_MAX_OPP
FTA_MAX_OPP FTA_MAX_OPP
ORB_MAX_OPP ORB_MAX_OPP
DRB_MAX_OPP DRB_MAX_OPP
AST_MAX_OPP AST_MAX_OPP
STL_MAX_OPP STL_MAX_OPP
BLK_MAX_OPP BLK_MAX_OPP
TOV_MAX_OPP TOV_MAX_OPP
PF_MAX_OPP PF_MAX_OPP
PTS_MAX_OPP PTS_MAX_OPP
FT/FGA_MAX_OPP FT/FGA_MAX_OPP
AST/TOV_MAX_OPP AST/TOV_MAX_OPP
FG%_MAX_OPP FG%_MAX_OPP
2P%_MAX_OPP 2P%_MAX_OPP
3P%_MAX_OPP 3P%_MAX_OPP
FT%_MAX_OPP FT%_MAX_OPP
GAME_ID ANSWER

IndexError: list index out of range

In [46]:
removed_columns = ["YEAR", "WIN", "TEAM", "TEAM_OPP", "GAME_ID", "TARGET", "PTS", "PTS_OPP", "index", "GAME_ID", "ANSWER"]
selected_columns = sndRndGames.columns[~sndRndGames.columns.isin(removed_columns)]

#preprocess with Min Max Scaler
scaler = MinMaxScaler()
sndRndGames[selected_columns] = scaler.fit_transform(sndRndGames[selected_columns])

sfs.fit(sndRndGames[selected_columns], sndRndGames["ANSWER"])
# sfs.fit(sndRndGames[selected_columns])

#get predictor columns
predictors = list(selected_columns[sfs.get_support()])

# predictors
XTest = sndRndGames[predictors].values
# yAns = sndRndGames['ANSWER'].values

predictionTest = mlp.predict(XTest)

# print(len(predictionTest), len(dfTest.index), len(yAns))

# d = {"PRED": predictionTest, "ANS": yAns.astype(int)}
d = {"TEAM1": sndRndGames['TEAM'], "TEAM_OPP": sndRndGames["TEAM_OPP"], "PRED": predictionTest}


dfRes = pd.DataFrame(data=d)
display(dfRes)

C:\Users\danna\AppData\Local\Temp\ipykernel_30212\1463350828.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sndRndGames[selected_columns] = scaler.fit_transform(sndRndGames[selected_columns])

               TEAM1           TEAM_OPP  PRED
0    South Carolina              Miami      1
1    North Carolina            Arizona      1
2           Georgia         Iowa State      1
3          Colorado               Iowa      1
4        Louisville           Nebraska      1
5            Oregon          Tennessee      0
6     Brigham Young           Michigan      1
7       Mississippi             Baylor      1
8          Stanford             Kansas      1
9     Virginia Tech           Maryland      1
10       Ohio State    Louisiana State      0
11             Utah              Texas      1
12         NC State   Washington State      1
13       Notre Dame           Oklahoma      1
14         Kentucky            Indiana      1
15  Central Florida        Connecticut      0

In [47]:
dfRes.to_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022secondRoundWinners.csv")

# third round

In [63]:
winningTeams = []

sndRoundWinners = pd.DataFrame(columns=teamHeaders)

count = 0
for row in sndRndGames:
    if(count>=len(predictionTest)):
        break
    if(predictionTest[count] == 1):
        tempdf = pd.DataFrame(data=sndRndGames[teamHeaders])
        sndRoundWinners = pd.concat([sndRndGames, tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][count]]])
    else:    
        tempdf = pd.DataFrame(data=sndRndGames[teamHeadersOPP])
        tempdf.rename(columns=changeNames, inplace=True)
        sndRoundWinners = pd.concat([sndRndGames, tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][count]]])
    count += 1

    
sndRoundWinners.dropna(axis=0, inplace=True)
# sndRoundWinners.drop(sndRoundWinners.tail(1).index,inplace=True) # drop last n rows
# firstRoundWinners
        
# # display(firstRoundGames[teamHeaders])
# tempdf = firstRoundGames[teamHeaders]
# display(tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][2]])

teams1 = sndRoundWinners[sndRoundWinners.index % 2 == 0]  # Excludes every 2nd row starting from 0
teams2 = sndRoundWinners[sndRoundWinners.index % 2 != 0]  # includes every 2nd row starting from 0

teams1.reset_index(inplace=True)
teams2.reset_index(inplace=True)

teams2.rename(columns=changeNamesOPP, inplace=True)

display(sndRoundWinners)
display(teams1)
display(teams2)

thirdRndGames = pd.concat([teams1[teamHeaders], teams2[teamHeadersOPP]], axis=1)
# sndRndGames.reset_index(inplace=True)

# sndRndGames.dropna(inplace=True)

display(thirdRndGames)

C:\Users\danna\AppData\Local\Temp\ipykernel_30212\1279242276.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams2.rename(columns=changeNamesOPP, inplace=True)

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,South Carolina,0.6250,0.50,1.00,0.761905,0.75,0.647059,0.416667,0.642857,0.000000,...,0.4,0.25,0.151515,0.129717,0.333333,0.298701,0.466667,0.333333,1.000000,1.0
1,North Carolina,0.8125,0.60,0.32,0.380952,0.55,0.235294,0.250000,0.714286,0.588235,...,0.2,1.00,0.636364,0.235849,0.166667,0.224880,1.000000,0.333333,0.562500,1.0
2,Georgia,1.0000,0.95,0.56,0.571429,0.60,0.352941,0.500000,0.714286,0.058824,...,0.4,0.75,0.818182,0.235849,0.166667,1.000000,1.000000,0.333333,1.000000,1.0
3,Colorado,0.3125,0.10,0.40,0.142857,0.55,0.411765,0.333333,0.214286,0.823529,...,0.6,0.75,0.545455,0.660377,0.500000,1.000000,1.000000,0.333333,1.000000,0.0
4,Louisville,0.3750,0.25,0.40,0.190476,0.40,1.000000,0.333333,0.357143,0.176471,...,0.2,0.75,0.333333,0.150943,0.166667,0.181818,0.200000,0.333333,0.750000,1.0
5,Oregon,0.3125,0.15,0.56,0.809524,0.50,0.352941,1.000000,0.857143,0.705882,...,0.8,0.75,0.303030,0.235849,0.500000,0.181818,0.200000,0.200000,1.000000,0.0
6,Brigham Young,0.2500,0.05,0.24,0.571429,0.45,0.294118,0.083333,0.785714,0.529412,...,0.2,0.25,0.454545,0.023585,0.500000,0.649351,0.657143,0.333333,1.000000,0.0
7,Mississippi,0.2500,0.10,0.28,0.095238,0.55,0.176471,0.416667,0.428571,0.764706,...,0.8,1.00,0.121212,0.000000,0.041667,0.766234,0.771429,0.047619,1.000000,0.0
8,Stanford,0.3750,0.30,0.56,0.857143,0.75,0.647059,0.666667,0.714286,0.235294,...,0.4,0.50,0.303030,0.072569,0.333333,0.509091,0.520000,1.000000,0.650000,1.0
9,Virginia Tech,0.6250,0.45,0.24,0.523810,0.40,0.000000,0.083333,0.357143,0.411765,...,0.4,0.50,0.454545,0.165094,0.833333,0.532468,0.771429,0.666667,1.000000,0.0
10,Ohio State,0.9375,0.95,0.36,0.000000,0.30,0.705882,0.583333,0.357143,0.705882,...,0.4,1.00,0.515152,0.150943,0.666667,0.217391,0.272727,0.200000,0.326923,1.0
11,Utah,0.5000,0.45,0.40,1.000000,0.75,0.058824,0.083333,0.857143,0.588235,...,0.2,0.50,0.030303,0.094340,0.750000,0.454545,0.466667,1.000000,1.000000,1.0
12,NC State,0.6875,0.55,0.68,0.428571,0.50,0.470588,0.416667,0.500000,0.764706,...,0.6,0.75,0.333333,0.660377,0.000000,0.000000,0.272727,0.000000,0.708333,1.0
13,Notre Dame,0.5625,0.40,0.44,0.285714,0.65,0.294118,0.250000,0.571429,0.352941,...,0.2,1.00,0.393939,0.428816,0.333333,0.415584,1.000000,0.555556,1.000000,1.0
14,Kentucky,0.8125,0.65,0.28,0.142857,0.25,0.411765,0.083333,0.714286,0.823529,...,0.2,0.50,0.303030,0.341981,0.666667,0.345455,0.428571,0.333333,1.000000,0.0
15,Central Florida,0.3750,0.30,0.24,0.333333,0.70,0.352941,0.750000,0.000000,0.705882,...,0.4,0.50,0.121212,0.094340,0.666667,0.590909,0.360000,1.000000,1.000000,1.0

,index,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,0,South Carolina,0.6250,0.50,1.00,0.761905,0.75,0.647059,0.416667,0.642857,...,0.4,0.25,0.151515,0.129717,0.333333,0.298701,0.466667,0.333333,1.000000,1.0
1,2,Georgia,1.0000,0.95,0.56,0.571429,0.60,0.352941,0.500000,0.714286,...,0.4,0.75,0.818182,0.235849,0.166667,1.000000,1.000000,0.333333,1.000000,1.0
2,4,Louisville,0.3750,0.25,0.40,0.190476,0.40,1.000000,0.333333,0.357143,...,0.2,0.75,0.333333,0.150943,0.166667,0.181818,0.200000,0.333333,0.750000,1.0
3,6,Brigham Young,0.2500,0.05,0.24,0.571429,0.45,0.294118,0.083333,0.785714,...,0.2,0.25,0.454545,0.023585,0.500000,0.649351,0.657143,0.333333,1.000000,0.0
4,8,Stanford,0.3750,0.30,0.56,0.857143,0.75,0.647059,0.666667,0.714286,...,0.4,0.50,0.303030,0.072569,0.333333,0.509091,0.520000,1.000000,0.650000,1.0
5,10,Ohio State,0.9375,0.95,0.36,0.000000,0.30,0.705882,0.583333,0.357143,...,0.4,1.00,0.515152,0.150943,0.666667,0.217391,0.272727,0.200000,0.326923,1.0
6,12,NC State,0.6875,0.55,0.68,0.428571,0.50,0.470588,0.416667,0.500000,...,0.6,0.75,0.333333,0.660377,0.000000,0.000000,0.272727,0.000000,0.708333,1.0
7,14,Kentucky,0.8125,0.65,0.28,0.142857,0.25,0.411765,0.083333,0.714286,...,0.2,0.50,0.303030,0.341981,0.666667,0.345455,0.428571,0.333333,1.000000,0.0

,index,TEAM_OPP,FT_OPP,FTA_OPP,ORB_OPP,DRB_OPP,AST_OPP,STL_OPP,BLK_OPP,TOV_OPP,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER_OPP
0,1,North Carolina,0.8125,0.60,0.32,0.380952,0.55,0.235294,0.250000,0.714286,...,0.2,1.00,0.636364,0.235849,0.166667,0.224880,1.000000,0.333333,0.5625,1.0
1,3,Colorado,0.3125,0.10,0.40,0.142857,0.55,0.411765,0.333333,0.214286,...,0.6,0.75,0.545455,0.660377,0.500000,1.000000,1.000000,0.333333,1.0000,0.0
2,5,Oregon,0.3125,0.15,0.56,0.809524,0.50,0.352941,1.000000,0.857143,...,0.8,0.75,0.303030,0.235849,0.500000,0.181818,0.200000,0.200000,1.0000,0.0
3,7,Mississippi,0.2500,0.10,0.28,0.095238,0.55,0.176471,0.416667,0.428571,...,0.8,1.00,0.121212,0.000000,0.041667,0.766234,0.771429,0.047619,1.0000,0.0
4,9,Virginia Tech,0.6250,0.45,0.24,0.523810,0.40,0.000000,0.083333,0.357143,...,0.4,0.50,0.454545,0.165094,0.833333,0.532468,0.771429,0.666667,1.0000,0.0
5,11,Utah,0.5000,0.45,0.40,1.000000,0.75,0.058824,0.083333,0.857143,...,0.2,0.50,0.030303,0.094340,0.750000,0.454545,0.466667,1.000000,1.0000,1.0
6,13,Notre Dame,0.5625,0.40,0.44,0.285714,0.65,0.294118,0.250000,0.571429,...,0.2,1.00,0.393939,0.428816,0.333333,0.415584,1.000000,0.555556,1.0000,1.0
7,15,Central Florida,0.3750,0.30,0.24,0.333333,0.70,0.352941,0.750000,0.000000,...,0.4,0.50,0.121212,0.094340,0.666667,0.590909,0.360000,1.000000,1.0000,1.0

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,AST/TOV_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,FT%_MAX_OPP
0,South Carolina,0.6250,0.50,1.00,0.761905,0.75,0.647059,0.416667,0.642857,0.000000,...,0.166667,0.166667,0.298701,0.224880,0.466667,1.000000,0.428571,0.333333,1.00000,0.5625
1,Georgia,1.0000,0.95,0.56,0.571429,0.60,0.352941,0.500000,0.714286,0.058824,...,0.333333,0.500000,0.563636,1.000000,0.709091,1.000000,0.333333,0.333333,1.00000,1.0000
2,Louisville,0.3750,0.25,0.40,0.190476,0.40,1.000000,0.333333,0.357143,0.176471,...,0.250000,0.500000,0.181818,0.181818,0.466667,0.200000,0.000000,0.200000,0.78125,1.0000
3,Brigham Young,0.2500,0.05,0.24,0.571429,0.45,0.294118,0.083333,0.785714,0.529412,...,0.833333,0.041667,0.454545,0.766234,0.000000,0.771429,1.000000,0.047619,0.56250,1.0000
4,Stanford,0.3750,0.30,0.56,0.857143,0.75,0.647059,0.666667,0.714286,0.235294,...,0.166667,0.833333,0.454545,0.532468,0.466667,0.771429,0.333333,0.666667,1.00000,1.0000
5,Ohio State,0.9375,0.95,0.36,0.000000,0.30,0.705882,0.583333,0.357143,0.705882,...,0.500000,0.750000,1.000000,0.454545,1.000000,0.466667,1.000000,1.000000,1.00000,1.0000
6,NC State,0.6875,0.55,0.68,0.428571,0.50,0.470588,0.416667,0.500000,0.764706,...,0.166667,0.333333,0.553719,0.415584,1.000000,1.000000,0.500000,0.555556,1.00000,1.0000
7,Kentucky,0.8125,0.65,0.28,0.142857,0.25,0.411765,0.083333,0.714286,0.823529,...,1.000000,0.666667,0.345455,0.590909,0.360000,0.360000,0.200000,1.000000,1.00000,1.0000

In [55]:
thirdRndGames.to_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022thirdRound.csv")

In [64]:
thirdRndGames["ANSWER"] = teams1['ANSWER']
thirdRndGames = thirdRndGames.loc[:,~thirdRndGames.columns.duplicated()]
thirdRndGames

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,South Carolina,0.6250,0.50,1.00,0.761905,0.75,0.647059,0.416667,0.642857,0.000000,...,0.8,1.00,0.575758,0.264151,0.166667,0.298701,0.466667,0.428571,1.00000,1.0
1,Georgia,1.0000,0.95,0.56,0.571429,0.60,0.352941,0.500000,0.714286,0.058824,...,0.2,0.75,0.545455,0.094340,0.333333,0.563636,0.709091,0.333333,1.00000,1.0
2,Louisville,0.3750,0.25,0.40,0.190476,0.40,1.000000,0.333333,0.357143,0.176471,...,0.8,0.75,0.666667,0.058962,0.250000,0.181818,0.466667,0.000000,0.78125,1.0
3,Brigham Young,0.2500,0.05,0.24,0.571429,0.45,0.294118,0.083333,0.785714,0.529412,...,0.4,0.75,0.000000,0.094340,0.833333,0.454545,0.000000,1.000000,0.56250,0.0
4,Stanford,0.3750,0.30,0.56,0.857143,0.75,0.647059,0.666667,0.714286,0.235294,...,0.4,0.75,1.000000,0.377358,0.166667,0.454545,0.466667,0.333333,1.00000,1.0
5,Ohio State,0.9375,0.95,0.36,0.000000,0.30,0.705882,0.583333,0.357143,0.705882,...,1.0,0.75,0.333333,0.660377,0.500000,1.000000,1.000000,1.000000,1.00000,1.0
6,NC State,0.6875,0.55,0.68,0.428571,0.50,0.470588,0.416667,0.500000,0.764706,...,1.0,0.25,0.303030,0.274443,0.166667,0.553719,1.000000,0.500000,1.00000,1.0
7,Kentucky,0.8125,0.65,0.28,0.142857,0.25,0.411765,0.083333,0.714286,0.823529,...,0.0,0.75,0.272727,0.000000,1.000000,0.345455,0.360000,0.200000,1.00000,0.0

In [65]:
removed_columns = ["YEAR", "WIN", "TEAM", "TEAM_OPP", "GAME_ID", "TARGET", "PTS", "PTS_OPP", "index", "GAME_ID", "ANSWER"]
selected_columns = thirdRndGames.columns[~thirdRndGames.columns.isin(removed_columns)]

#preprocess with Min Max Scaler
scaler = MinMaxScaler()
thirdRndGames[selected_columns] = scaler.fit_transform(thirdRndGames[selected_columns])

sfs.fit(thirdRndGames[selected_columns], thirdRndGames["ANSWER"])
# sfs.fit(sndRndGames[selected_columns])

#get predictor columns
predictors = list(selected_columns[sfs.get_support()])

# predictors
XTest = thirdRndGames[predictors].values
# yAns = sndRndGames['ANSWER'].values

predictionTest = mlp.predict(XTest)

# print(len(predictionTest), len(dfTest.index), len(yAns))

# d = {"PRED": predictionTest, "ANS": yAns.astype(int)}
d = {"TEAM1": thirdRndGames['TEAM'], "TEAM_OPP": thirdRndGames["TEAM_OPP"], "PRED": predictionTest}


dfRes = pd.DataFrame(data=d)
display(dfRes)

             TEAM1          TEAM_OPP  PRED
0  South Carolina    North Carolina      1
1         Georgia          Colorado      1
2      Louisville            Oregon      1
3   Brigham Young       Mississippi      1
4        Stanford     Virginia Tech      1
5      Ohio State              Utah      0
6        NC State        Notre Dame      1
7        Kentucky   Central Florida      0

In [58]:
dfRes.to_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022thirdRoundWinners.csv")

# fourth round

In [66]:
# thirdRndGames = pd.read_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022thirdRound.csv", index)

winningTeams = []

thirdRoundWinners = pd.DataFrame(columns=teamHeaders)

count = 0
for row in thirdRndGames:
    if(count>=len(predictionTest)):
        break
    if(predictionTest[count] == 1):
        tempdf = pd.DataFrame(data=thirdRndGames[teamHeaders])
        thirdRoundWinners = pd.concat([thirdRndGames, tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][count]]])
    else:    
        tempdf = pd.DataFrame(data=thirdRndGames[teamHeadersOPP])
        tempdf.rename(columns=changeNames, inplace=True)
        thirdRoundWinners = pd.concat([thirdRndGames, tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][count]]])
    count += 1

    
thirdRoundWinners.dropna(axis=0, inplace=True)
# sndRoundWinners.drop(sndRoundWinners.tail(1).index,inplace=True) # drop last n rows
# firstRoundWinners
        
# # display(firstRoundGames[teamHeaders])
# tempdf = firstRoundGames[teamHeaders]
# display(tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][2]])

teams1 = thirdRoundWinners[thirdRoundWinners.index % 2 == 0]  # Excludes every 2nd row starting from 0
teams2 = thirdRoundWinners[thirdRoundWinners.index % 2 != 0]  # includes every 2nd row starting from 0

teams1.reset_index(inplace=True)
teams2.reset_index(inplace=True)

teams2.rename(columns=changeNamesOPP, inplace=True)

display(thirdRoundWinners)
display(teams1)
display(teams2)

fourthRndGames = pd.concat([teams1[teamHeaders], teams2[teamHeadersOPP]], axis=1)
# sndRndGames.reset_index(inplace=True)

# sndRndGames.dropna(inplace=True)

display(fourthRndGames)

C:\Users\danna\AppData\Local\Temp\ipykernel_30212\3497655896.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams2.rename(columns=changeNamesOPP, inplace=True)

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,South Carolina,0.500000,0.500000,1.000000,0.888889,1.0,0.500000,0.571429,0.666667,0.000000,...,0.8,1.000000,0.575758,0.400000,0.0,0.142857,0.466667,0.428571,1.0,1.0
1,Georgia,1.000000,1.000000,0.421053,0.666667,0.7,0.083333,0.714286,0.833333,0.071429,...,0.2,0.666667,0.545455,0.142857,0.2,0.466667,0.709091,0.333333,1.0,1.0
2,Louisville,0.166667,0.222222,0.210526,0.222222,0.3,1.000000,0.428571,0.000000,0.214286,...,0.8,0.666667,0.666667,0.089286,0.1,0.000000,0.466667,0.000000,0.5,1.0
3,Brigham Young,0.000000,0.000000,0.000000,0.666667,0.4,0.000000,0.000000,1.000000,0.642857,...,0.4,0.666667,0.000000,0.142857,0.8,0.333333,0.000000,1.000000,0.0,0.0
4,Stanford,0.166667,0.277778,0.421053,1.000000,1.0,0.500000,1.000000,0.833333,0.285714,...,0.4,0.666667,1.000000,0.571429,0.0,0.333333,0.466667,0.333333,1.0,1.0
5,Ohio State,0.916667,1.000000,0.157895,0.000000,0.1,0.583333,0.857143,0.000000,0.857143,...,1.0,0.666667,0.333333,1.000000,0.4,1.000000,1.000000,1.000000,1.0,1.0
6,NC State,0.583333,0.555556,0.578947,0.500000,0.5,0.250000,0.571429,0.333333,0.928571,...,1.0,0.000000,0.303030,0.415584,0.0,0.454545,1.000000,0.500000,1.0,1.0
7,Kentucky,0.750000,0.666667,0.052632,0.166667,0.0,0.166667,0.000000,0.833333,1.000000,...,0.0,0.666667,0.272727,0.000000,1.0,0.200000,0.360000,0.200000,1.0,0.0

,index,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,0,South Carolina,0.500000,0.500000,1.000000,0.888889,1.0,0.50,0.571429,0.666667,...,0.8,1.000000,0.575758,0.400000,0.0,0.142857,0.466667,0.428571,1.0,1.0
1,2,Louisville,0.166667,0.222222,0.210526,0.222222,0.3,1.00,0.428571,0.000000,...,0.8,0.666667,0.666667,0.089286,0.1,0.000000,0.466667,0.000000,0.5,1.0
2,4,Stanford,0.166667,0.277778,0.421053,1.000000,1.0,0.50,1.000000,0.833333,...,0.4,0.666667,1.000000,0.571429,0.0,0.333333,0.466667,0.333333,1.0,1.0
3,6,NC State,0.583333,0.555556,0.578947,0.500000,0.5,0.25,0.571429,0.333333,...,1.0,0.000000,0.303030,0.415584,0.0,0.454545,1.000000,0.500000,1.0,1.0

,index,TEAM_OPP,FT_OPP,FTA_OPP,ORB_OPP,DRB_OPP,AST_OPP,STL_OPP,BLK_OPP,TOV_OPP,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER_OPP
0,1,Georgia,1.000000,1.000000,0.421053,0.666667,0.7,0.083333,0.714286,0.833333,...,0.2,0.666667,0.545455,0.142857,0.2,0.466667,0.709091,0.333333,1.0,1.0
1,3,Brigham Young,0.000000,0.000000,0.000000,0.666667,0.4,0.000000,0.000000,1.000000,...,0.4,0.666667,0.000000,0.142857,0.8,0.333333,0.000000,1.000000,0.0,0.0
2,5,Ohio State,0.916667,1.000000,0.157895,0.000000,0.1,0.583333,0.857143,0.000000,...,1.0,0.666667,0.333333,1.000000,0.4,1.000000,1.000000,1.000000,1.0,1.0
3,7,Kentucky,0.750000,0.666667,0.052632,0.166667,0.0,0.166667,0.000000,0.833333,...,0.0,0.666667,0.272727,0.000000,1.0,0.200000,0.360000,0.200000,1.0,0.0

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,AST/TOV_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,FT%_MAX_OPP
0,South Carolina,0.500000,0.500000,1.000000,0.888889,1.0,0.50,0.571429,0.666667,0.000000,...,0.333333,0.2,0.000000,0.466667,0.000000,0.709091,0.300000,0.333333,1.0,1.0
1,Louisville,0.166667,0.222222,0.210526,0.222222,0.3,1.00,0.428571,0.000000,0.214286,...,0.150000,0.8,1.000000,0.333333,1.000000,0.000000,1.000000,1.000000,1.0,0.0
2,Stanford,0.166667,0.277778,0.421053,1.000000,1.0,0.50,1.000000,0.833333,0.285714,...,0.500000,0.4,0.027778,1.000000,0.416667,1.000000,0.300000,1.000000,1.0,1.0
3,NC State,0.583333,0.555556,0.578947,0.500000,0.5,0.25,0.571429,0.333333,0.928571,...,0.000000,1.0,1.000000,0.200000,1.000000,0.360000,0.066667,0.200000,1.0,1.0

In [67]:
fourthRndGames.to_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022fourthRound.csv")

In [68]:
fourthRndGames["ANSWER"] = teams1['ANSWER']
fourthRndGames = fourthRndGames.loc[:,~fourthRndGames.columns.duplicated()]
fourthRndGames

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,South Carolina,0.500000,0.500000,1.000000,0.888889,1.0,0.50,0.571429,0.666667,0.000000,...,0.50,0.25,0.600000,0.245098,0.333333,0.000000,0.000000,0.300000,1.0,1.0
1,Louisville,0.166667,0.222222,0.210526,0.222222,0.3,1.00,0.428571,0.000000,0.214286,...,1.00,0.75,0.733333,0.043253,0.150000,1.000000,1.000000,1.000000,1.0,1.0
2,Stanford,0.166667,0.277778,0.421053,1.000000,1.0,0.50,1.000000,0.833333,0.285714,...,0.50,0.50,1.000000,0.416667,0.500000,0.027778,0.416667,0.300000,1.0,1.0
3,NC State,0.583333,0.555556,0.578947,0.500000,0.5,0.25,0.571429,0.333333,0.928571,...,0.75,1.00,0.466667,0.845588,0.000000,1.000000,1.000000,0.066667,1.0,1.0

In [69]:
removed_columns = ["YEAR", "WIN", "TEAM", "TEAM_OPP", "GAME_ID", "TARGET", "PTS", "PTS_OPP", "index", "GAME_ID", "ANSWER"]
selected_columns = fourthRndGames.columns[~fourthRndGames.columns.isin(removed_columns)]

#preprocess with Min Max Scaler
scaler = MinMaxScaler()
fourthRndGames[selected_columns] = scaler.fit_transform(fourthRndGames[selected_columns])

sfs.fit(fourthRndGames[selected_columns], fourthRndGames["ANSWER"])
# sfs.fit(sndRndGames[selected_columns])

#get predictor columns
predictors = list(selected_columns[sfs.get_support()])

# predictors
XTest = fourthRndGames[predictors].values
# yAns = sndRndGames['ANSWER'].values

predictionTest = mlp.predict(XTest)

# print(len(predictionTest), len(dfTest.index), len(yAns))

# d = {"PRED": predictionTest, "ANS": yAns.astype(int)}
d = {"TEAM1": fourthRndGames['TEAM'], "TEAM_OPP": fourthRndGames["TEAM_OPP"], "PRED": predictionTest}


dfRes = pd.DataFrame(data=d)
display(dfRes)

             TEAM1        TEAM_OPP  PRED
0  South Carolina         Georgia      1
1      Louisville   Brigham Young      0
2        Stanford      Ohio State      0
3        NC State        Kentucky      1

In [70]:
dfRes.to_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022fourthRoundWinners.csv")

# fifth round

In [101]:
# thirdRndGames = pd.read_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022thirdRound.csv", index)

winningTeams = []

fourthRoundWinners = pd.DataFrame(columns=teamHeaders)

count = 0
for row in fourthRndGames:
    if(count>=len(predictionTest)):
        break
    if(predictionTest[count] == 1):
        tempdf = pd.DataFrame(data=fourthRndGames[teamHeaders])
        fourthRoundWinners = pd.concat([fourthRndGames, tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][count]]])
    else:    
        tempdf = pd.DataFrame(data=fourthRndGames[teamHeadersOPP])
        tempdf.rename(columns=changeNames, inplace=True)
        fourthRoundWinners = pd.concat([fourthRndGames, tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][count]]])
    count += 1

    
fourthRoundWinners.dropna(axis=0, inplace=True)
# sndRoundWinners.drop(sndRoundWinners.tail(1).index,inplace=True) # drop last n rows
# firstRoundWinners
        
# # display(firstRoundGames[teamHeaders])
# tempdf = firstRoundGames[teamHeaders]
# display(tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][2]])

teams1 = fourthRoundWinners[fourthRoundWinners.index % 2 == 0]  # Excludes every 2nd row starting from 0
teams2 = fourthRoundWinners[fourthRoundWinners.index % 2 != 0]  # includes every 2nd row starting from 0

teams1.reset_index(inplace=True)
teams2.reset_index(inplace=True)

teams2.rename(columns=changeNamesOPP, inplace=True)

display(fourthRoundWinners)
display(teams1)
display(teams2)

fifthRndGames = pd.concat([teams1[teamHeaders], teams2[teamHeadersOPP]], axis=1)
# sndRndGames.reset_index(inplace=True)

# sndRndGames.dropna(inplace=True)

display(fifthRndGames)

C:\Users\danna\AppData\Local\Temp\ipykernel_30212\1712856167.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams2.rename(columns=changeNamesOPP, inplace=True)

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,South Carolina,0.8,0.833333,1.000000,0.857143,1.000000,0.333333,0.25,0.8,0.000000,...,0.0,0.000000,0.25,0.251572,0.666667,0.000000,0.000000,0.25,0.0,1.0
1,Louisville,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.00,0.0,0.230769,...,1.0,0.666667,0.50,0.000000,0.300000,1.000000,1.000000,1.00,0.0,1.0
2,Stanford,0.0,0.166667,0.266667,1.000000,1.000000,0.333333,1.00,1.0,0.307692,...,0.0,0.333333,1.00,0.465409,1.000000,0.027778,0.416667,0.25,0.0,1.0
3,NC State,1.0,1.000000,0.466667,0.357143,0.285714,0.000000,0.25,0.4,1.000000,...,0.5,1.000000,0.00,1.000000,0.000000,1.000000,1.000000,0.00,0.0,1.0

,index,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,0,South Carolina,0.8,0.833333,1.000000,0.857143,1.0,0.333333,0.25,0.8,...,0.0,0.000000,0.25,0.251572,0.666667,0.000000,0.000000,0.25,0.0,1.0
1,2,Stanford,0.0,0.166667,0.266667,1.000000,1.0,0.333333,1.00,1.0,...,0.0,0.333333,1.00,0.465409,1.000000,0.027778,0.416667,0.25,0.0,1.0

,index,TEAM_OPP,FT_OPP,FTA_OPP,ORB_OPP,DRB_OPP,AST_OPP,STL_OPP,BLK_OPP,TOV_OPP,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER_OPP
0,1,Louisville,0.0,0.0,0.000000,0.000000,0.000000,1.0,0.00,0.0,...,1.0,0.666667,0.5,0.0,0.3,1.0,1.0,1.0,0.0,1.0
1,3,NC State,1.0,1.0,0.466667,0.357143,0.285714,0.0,0.25,0.4,...,0.5,1.000000,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,AST/TOV_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,FT%_MAX_OPP
0,South Carolina,0.8,0.833333,1.000000,0.857143,1.0,0.333333,0.25,0.8,0.000000,...,1.0,0.3,1.000000,1.0,1.0,1.0,0.5625,1.0,1.00000,0.0
1,Stanford,0.0,0.166667,0.266667,1.000000,1.0,0.333333,1.00,1.0,0.307692,...,0.0,0.0,0.708333,1.0,1.0,1.0,1.0000,0.0,0.78125,0.0

In [73]:
fifthRndGames.to_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022fifthRound.csv")

In [102]:
fifthRndGames["ANSWER"] = teams1['ANSWER']
fifthRndGames = fifthRndGames.loc[:,~fifthRndGames.columns.duplicated()]
fifthRndGames

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,South Carolina,0.8,0.833333,1.000000,0.857143,1.0,0.333333,0.25,0.8,0.000000,...,0.0,0.5,1.0,0.073529,1.0,1.000000,1.0,0.5625,1.00000,1.0
1,Stanford,0.0,0.166667,0.266667,1.000000,1.0,0.333333,1.00,1.0,0.307692,...,1.0,1.0,0.6,1.000000,0.0,0.708333,1.0,1.0000,0.78125,1.0

In [103]:
fifthRndGames = pd.concat([fifthRndGames, fifthRndGames], axis=0)
fifthRndGames

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,South Carolina,0.8,0.833333,1.000000,0.857143,1.0,0.333333,0.25,0.8,0.000000,...,0.0,0.5,1.0,0.073529,1.0,1.000000,1.0,0.5625,1.00000,1.0
1,Stanford,0.0,0.166667,0.266667,1.000000,1.0,0.333333,1.00,1.0,0.307692,...,1.0,1.0,0.6,1.000000,0.0,0.708333,1.0,1.0000,0.78125,1.0
0,South Carolina,0.8,0.833333,1.000000,0.857143,1.0,0.333333,0.25,0.8,0.000000,...,0.0,0.5,1.0,0.073529,1.0,1.000000,1.0,0.5625,1.00000,1.0
1,Stanford,0.0,0.166667,0.266667,1.000000,1.0,0.333333,1.00,1.0,0.307692,...,1.0,1.0,0.6,1.000000,0.0,0.708333,1.0,1.0000,0.78125,1.0

In [104]:
removed_columns = ["YEAR", "WIN", "TEAM", "TEAM_OPP", "GAME_ID", "TARGET", "PTS", "PTS_OPP", "index", "GAME_ID", "ANSWER"]
selected_columns = fifthRndGames.columns[~fifthRndGames.columns.isin(removed_columns)]

#preprocess with Min Max Scaler
scaler = MinMaxScaler()
fifthRndGames[selected_columns] = scaler.fit_transform(fifthRndGames[selected_columns])

sfs.fit(fifthRndGames[selected_columns], fifthRndGames["ANSWER"])
# sfs.fit(sndRndGames[selected_columns])

#get predictor columns
predictors = list(selected_columns[sfs.get_support()])

# predictors
XTest = fifthRndGames[predictors].values
# yAns = sndRndGames['ANSWER'].values

predictionTest = mlp.predict(XTest)

# print(len(predictionTest), len(dfTest.index), len(yAns))

# d = {"PRED": predictionTest, "ANS": yAns.astype(int)}
d = {"TEAM1": fifthRndGames['TEAM'], "TEAM_OPP": fifthRndGames["TEAM_OPP"], "PRED": predictionTest}


dfRes = pd.DataFrame(data=d)
display(dfRes)

             TEAM1     TEAM_OPP  PRED
0  South Carolina   Louisville      1
1        Stanford     NC State      0
0  South Carolina   Louisville      1
1        Stanford     NC State      0

In [80]:
dfRes.to_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022fifthRoundWinners.csv")

# sixth round (championship game)

In [105]:
fifthRndGames.reset_index(inplace=True)

winningTeams = []

fifthRoundWinners = pd.DataFrame(columns=teamHeaders)


count = 0
for row in fifthRndGames:
    if(count>=len(predictionTest)):
        break
    if(predictionTest[count] == 1):
        tempdf = pd.DataFrame(data=fifthRndGames[teamHeaders])
        fifthRoundWinners = pd.concat([fifthRndGames, tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][count]]])
    else:    fifthRndGames.to_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022fifthRound.csv")
        tempdf = pd.DataFrame(data=fifthRndGames[teamHeadersOPP])
        tempdf.rename(columns=changeNames, inplace=True)
        fifthRoundWinners = pd.concat([fifthRndGames, tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][count]]])
    count += 1

    
fifthRoundWinners.dropna(axis=0, inplace=True)
# sndRoundWinners.drop(sndRoundWinners.tail(1).index,inplace=True) # drop last n rows
# firstRoundWinners
        
# # display(firstRoundGames[teamHeaders])
# tempdf = firstRoundGames[teamHeaders]
# display(tempdf.loc[tempdf['TEAM'] == tempdf['TEAM'][2]])

teams1 = fifthRoundWinners[fifthRoundWinners.index % 2 == 0]  # Excludes every 2nd row starting from 0
teams2 = fifthRoundWinners[fifthRoundWinners.index % 2 != 0]  # includes every 2nd row starting from 0

teams1.reset_index(inplace=True)
teams2.reset_index(inplace=True)

teams2.rename(columns=changeNamesOPP, inplace=True)

display(fifthRoundWinners)
display(teams1)
display(teams2)

sixthRndGames = pd.concat([teams1[teamHeaders], teams2[teamHeadersOPP]], axis=1)
# sndRndGames.reset_index(inplace=True)

# sndRndGames.dropna(inplace=True)

display(sixthRndGames)

C:\Users\danna\AppData\Local\Temp\ipykernel_30212\512445041.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  teams2.rename(columns=changeNamesOPP, inplace=True)

,index,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,0.0,South Carolina,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0
1,1.0,Stanford,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
2,0.0,South Carolina,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0
3,1.0,Stanford,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0

,level_0,index,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,0,0.0,South Carolina,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0
1,2,0.0,South Carolina,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,1.0

,level_0,index,TEAM_OPP,FT_OPP,FTA_OPP,ORB_OPP,DRB_OPP,AST_OPP,STL_OPP,BLK_OPP,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER_OPP
0,1,1.0,Stanford,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0
1,3,1.0,Stanford,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,AST/TOV_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,FT%_MAX_OPP
0,South Carolina,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0
1,South Carolina,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0

In [106]:
sixthRndGames.to_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022sixthRound.csv")

In [107]:
sixthRndGames["ANSWER"] = teams1['ANSWER']
sixthRndGames = sixthRndGames.loc[:,~sixthRndGames.columns.duplicated()]
sixthRndGames

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,South Carolina,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
1,South Carolina,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0

In [108]:
sixthRndGames = pd.concat([sixthRndGames, sixthRndGames], axis=0)
sixthRndGames

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,ANSWER
0,South Carolina,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
1,South Carolina,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
0,South Carolina,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0
1,South Carolina,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0

In [109]:
removed_columns = ["YEAR", "WIN", "TEAM", "TEAM_OPP", "GAME_ID", "TARGET", "PTS", "PTS_OPP", "index", "GAME_ID", "ANSWER"]
selected_columns = sixthRndGames.columns[~sixthRndGames.columns.isin(removed_columns)]

#preprocess with Min Max Scaler
scaler = MinMaxScaler()
sixthRndGames[selected_columns] = scaler.fit_transform(sixthRndGames[selected_columns])

sfs.fit(sixthRndGames[selected_columns], sixthRndGames["ANSWER"])
# sfs.fit(sndRndGames[selected_columns])

#get predictor columns
predictors = list(selected_columns[sfs.get_support()])

# predictors
XTest = sixthRndGames[predictors].values
# yAns = sndRndGames['ANSWER'].values

predictionTest = mlp.predict(XTest)

# print(len(predictionTest), len(dfTest.index), len(yAns))

# d = {"PRED": predictionTest, "ANS": yAns.astype(int)}
d = {"TEAM1": sixthRndGames['TEAM'], "TEAM_OPP": sixthRndGames["TEAM_OPP"], "PRED": predictionTest}


dfRes = pd.DataFrame(data=d)
display(dfRes)

             TEAM1   TEAM_OPP  PRED
0  South Carolina   Stanford      0
1  South Carolina   Stanford      0
0  South Carolina   Stanford      0
1  South Carolina   Stanford      0

In [110]:
dfRes.to_csv("C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/2022sixthRoundWinners.csv")