In [1]:
import pandas as pd
import os

#define file paths to learning and testing data repositories
path = "C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/LearningData"
path2 = "C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData"

#PRE: path is the file path to data to be manipulated, isLearning is a bool that determines if the given file is learning data
#POST: 
def featureManip(path, isLearning):
    #get items in the given location
    yr_list = os.listdir(path)
#     print(yr_list)
    gamesLists = []
    nonFolders = 0
    #take out non folders
    for yr in yr_list:
        try:
            path2 = path + "/" + yr
            gamesLists.append(os.listdir(path2))
        except:
            print('error, found a not-folder')
            nonFolders+=1
    
    #define universal names for files to be saved as
    team1File = "Team 1 Basic BS"
    team2File = "Team 2 Basic BS" 
    ext = ".csv"
    
    base_cols = None

    games = []
    gamesAnswers = []
    gameID = 0

    print("\n\nSTART")
    
    #go through each year folder
    for yr in range( len(yr_list)  - nonFolders):
        #go through each game file in each year
        for gameFile in range( len(gamesLists[yr])):
            #get file paths
            testGamePath = path + '/' + yr_list[yr] + '/' + gamesLists[yr][gameFile] 
            team1DataPath = testGamePath + '/' + team1File + ext
            team2DataPath = testGamePath + '/' + team2File + ext
            #try to read the file, prints error and continues if cannot open game
            try:
                team1 = pd.read_csv(team1DataPath)
                team2 = pd.read_csv(team2DataPath)
            except: 
                print("error with", gamesLists[yr][gameFile], "(", yr_list[yr], ")... skipping.")
                continue

            teams = [team1, team2]
            summaries = []
            #go through both team 1 and team 2
            for team in teams:
                #drop index column and rename team column
                team.drop(["Unnamed: 0"], axis=1, inplace=True)
                team.iloc[-1, 0] = team.columns[0]
                team.rename(columns={team.columns[0] : "TEAM"}, inplace=True)    
                
                team["YEAR"] = yr_list[yr]
                
                #convert to percentages
                team["FG%"] = team["FG"] / team["FGA"]
                team["2P%"] = team["2P"] / team["2PA"]
                team["3P%"] = team["3P"] / team["3PA"]
                team["FT%"] = team["FT"] / team["FTA"]
                
                #fill any null cells with 0 (for cases of dividing by 0)
                team["FG%"] = team["FG%"].fillna(0)
                team["2P%"] = team["2P%"].fillna(0)
                team["3P%"] = team["3P%"].fillna(0)
                team["FT%"] = team["FT%"].fillna(0)
                
                #drop non-percentage columns
                team.drop(["FG", "FGA", "2P", "2PA", "3P", "3PA"], axis=1, inplace=True)
                
                #get the total of each stat for the team
                totals = pd.concat([team.iloc[-1, :]])
                totals.index = totals.index.str.upper()
                
                #get maximum of each stat over the remaining players
                maxes = pd.concat([team.iloc[:-1, :].max()])
                maxes.index = maxes.index.str.upper() + "_MAX"
                
                #connect totals and max stat value tables
                summary = pd.concat([totals, maxes])
                #add to game summaries array
                summaries.append(summary)
            
            #concatenate all summaries into rows in a dataframe
            summary = pd.concat(summaries, axis=1).T

            #mark team 2 stats as _OPP
            game = pd.concat(summaries, axis=1).T
            game_opp = game.iloc[::-1].reset_index()           
            game_opp.columns += "_OPP"
            
            #concatentate team 1 and team 2 stats in same row
            full_game = pd.concat([game, game_opp], axis=1)
            
            #drop unneeded columns
            droppedCols = ["YEAR_MAX", "YEAR_OPP", "YEAR_MAX_OPP", "TEAM_MAX", "TEAM_MAX_OPP", "index_OPP"]
            full_game.drop(droppedCols, axis=1, inplace=True)
            
            #determine winner of game
            full_game["WIN"] = full_game["PTS"] > full_game["PTS_OPP"]
                        
            full_game.drop(["PTS", "PTS_OPP"], axis=1, inplace=True)
            
            #make gameID for possible later use
            full_game["GAME_ID"] = gameID
            gameID += 1
            
            #handle whether the given data was for testing or learning
            #if for testing, do not include WIN column in same file
            ans = full_game[['WIN']].copy()
            if(not isLearning):
                full_game.drop(["WIN"], axis=1, inplace=True)

            games.append(full_game)
            gamesAnswers.append(ans)
            
            #print progess notifications
            if len(games) % 50 == 0:
                print(f"{len(games)} / {len(yr_list) * len(gamesLists)}")

    print("END")
    if(isLearning):
        return(games)
    else:
        return(games, gamesAnswers)
#line for learning data    
# games = featureManip(path, True)
#line for testing data
games, gamesAnswers = featureManip(path2, False)

error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder
error, found a not-folder


START
50 / 72
100 / 72
150 / 72
END

In [47]:
#run after last cell finishes big loop 
#make into dataframe
games_df = pd.concat(games, ignore_index=True)
# games_dfold_df[['col1']].copy()[-1]
games_df

,TEAM,FT,FTA,ORB,DRB,AST,STL,BLK,TOV,PF,...,TOV_MAX_OPP,PF_MAX_OPP,PTS_MAX_OPP,FT/FGA_MAX_OPP,AST/TOV_MAX_OPP,FG%_MAX_OPP,2P%_MAX_OPP,3P%_MAX_OPP,FT%_MAX_OPP,GAME_ID
0,American,3,8,11,23,19,4,3,15,12,...,2,2,20,0.375,5.5,0.625,0.6,0.666667,1.0,0
1,UCLA,11,14,11,21,20,9,3,7,14,...,8,4,22,0.4,3.0,0.6,0.666667,0.666667,1.0,0
2,Arizona State,15,20,3,12,13,6,0,9,15,...,5,3,19,0.5,2.5,0.75,0.818182,0.6,1.0,1
3,Texas,8,10,10,29,14,1,1,17,21,...,2,5,27,0.692308,3.0,0.615385,0.545455,1.0,0.75,1
4,Belmont,5,10,11,21,13,2,4,15,22,...,3,3,25,1.0,5.0,0.611111,0.611111,0.571429,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
371,Texas,5,10,6,19,16,9,3,11,9,...,4,3,18,0.222222,2.0,0.8,1.0,0.571429,1.0,185
372,Villanova,11,17,9,22,14,9,4,8,15,...,5,4,21,0.470588,1.6,1.0,1.0,1.0,1.0,186
373,Brigham Young,9,12,7,29,14,6,1,16,15,...,2,4,25,0.6,3.0,0.454545,0.5625,0.333333,0.666667,186
374,Villanova,5,7,6,17,8,8,6,12,21,...,4,2,27,1.0,2.0,0.75,1.0,0.25,0.75,187
375,Michigan,14,21,16,30,11,8,1,14,10,...,3,5,12,0.333333,1.0,0.4,1.0,0.666667,1.0,187

In [27]:
# for col in games_df.columns:
#     print(games_df[col].isna().sum())

for col in games_df.columns:
    print(col)

TEAM
FT
FTA
ORB
DRB
AST
STL
BLK
TOV
PF
FT/FGA
AST/TOV
YEAR
FG%
2P%
3P%
FT%
RB_O2D
FT_MAX
FTA_MAX
ORB_MAX
DRB_MAX
AST_MAX
STL_MAX
BLK_MAX
TOV_MAX
PF_MAX
PTS_MAX
FT/FGA_MAX
AST/TOV_MAX
FG%_MAX
2P%_MAX
3P%_MAX
FT%_MAX
RB_O2D_MAX
TEAM_OPP
FT_OPP
FTA_OPP
ORB_OPP
DRB_OPP
AST_OPP
STL_OPP
BLK_OPP
TOV_OPP
PF_OPP
FT/FGA_OPP
AST/TOV_OPP
FG%_OPP
2P%_OPP
3P%_OPP
FT%_OPP
RB_O2D_OPP
FT_MAX_OPP
FTA_MAX_OPP
ORB_MAX_OPP
DRB_MAX_OPP
AST_MAX_OPP
STL_MAX_OPP
BLK_MAX_OPP
TOV_MAX_OPP
PF_MAX_OPP
PTS_MAX_OPP
FT/FGA_MAX_OPP
AST/TOV_MAX_OPP
FG%_MAX_OPP
2P%_MAX_OPP
3P%_MAX_OPP
FT%_MAX_OPP
RB_O2D_MAX_OPP
WIN
GAME_ID

In [48]:
#run after last cell finishes big loop 
#make into dataframe, testing data version
gamesAns_df = pd.concat(gamesAnswers, ignore_index=True)
# games_dfold_df[['col1']].copy()[-1]
gamesAns_df

       WIN
0    False
1     True
2    False
3     True
4    False
..     ...
371   True
372   True
373  False
374  False
375   True

[376 rows x 1 columns]

In [50]:
#save manipulated data to specified location(s)

num = "8"
savePathLearn = "C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/LearningData/learningData"+num+".csv"
savePathTest = "C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/testData"+num+".csv"
savePathTestANS = "C:/Users/danna/Documents/GitHub/WBBTournamentPredictions/MachineLearning/TestData/testData"+num+"ANS.csv"

# games_df.to_csv(savePathLearn)

games_df.to_csv(savePathTest)
gamesAns_df.to_csv(savePathTestANS)